html{
  background:  rgb(240, 237, 226);
}
html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x:hidden;
}

:root{
  --green: rgb(78, 122, 52);
  --FT: 'Poiret One', cursive;
} 

a{
  text-decoration:underline;
}

header{ 
  display: grid;
  position:sticky;
  grid-template-columns: repeat(10,1fr);
  align-items:center;
  justify-items:center;
  grid-gap:1px;
  position: fixed;
  top: 0;
  left:0;
  width:100%;
  background: white;
  max-height:100px;
  margin: 0 auto;
  text-align:center;
  font-family: var(--FT);
  color:rgb(88, 88, 88);
  box-sizing: border-box;
  font-size:1.3em;
  font-weight:bold;
  z-index:100;
  box-shadow: 0 2px 2px grey;
} 

header > a {
  font-size:0.6em;
  height:40px;
  line-height:10px;
  display: grid;
  align-items:center;
  justify-items:center;
  box-sizing: border-box;
  padding:5px;
  background: rgb(125,119,102);
  color: white;
  opacity: 0.75;
  transition: opacity 0.3s ease;
  width:100%;
  text-decoration: none;
}

header > a:hover {
  opacity: 1;
}

h1, h2, h3, h4 {
  text-align:center;
}

span.right{
  text-align:right;
  display: inline-block;
  width:100%;
}

.book_title {
  margin: 0 auto;
  text-align:center;
  font-size:3em;
  font-family: var(--FT);
  font-weight: bold;
  color: rgb(68,64,54);
}

span.sign {
  font-size:0.5em;
}

span.edit0 {
  display: inline-block;
  text-align:center;
  margin-left: 50%;
  transform: translate(-50%) rotate(-6deg);
  font-family: var(--FT);
  font-weight:bold;
  color: cornflowerblue;
  font-size: 1.5em;
  background: white;
  box-sizing: border-box;
  padding:4px;
  border-radius:3px;
}

sup{
  font-size:0.5em;
}

span.edit1 {
  width:100%;
  text-align:center;
  font-family: var(--FT);
  font-weight:bold;
  color: rgb(70, 114, 196);
}

span.new {
  color: rgb(70,144,196);
  /* font-weight:bold; */
}

span.fig{
  font-size:0.75em;
  display: inline-block;
  width:100%;
  text-align:center;
  margin-top:-10px;
}

span.center {
  display: inline-block;
  width:100%;
  text-align:center;
}

.book_text {
  margin: 0 auto;
  box-sizing: border-box;
  padding:20px;
  max-width:400px;
  font-family: 'Times New Roman', Times, serif;
  text-align: justify;
  color: rgb(68, 64, 54);
}

#frac0 {
  margin: 0 auto;
}

img {
  width:100%;
  border-radius:3px;
}

.glyphs{
  margin-left:50%;
  transform:translate(-50%);
}

.svg_paragraph_line0{
  display:grid;
  align-items:center;
  justify-items:center;
}

.six_mols{
  width:100%;
  display: grid;
  align-items:center;
  justify-items:center;
  grid-template-columns: repeat(3,1fr);
}

img {
  margin-left: 50%;
  transform: translate(-50%);
}

#pic0{
  width:100px;
}

#pic1{
  width:200px;
}

#pic2,#pic3{
  width:300px;
}

.numberz {
  width:100%;
  display: grid;
  align-items:center;
  justify-items:center;
  grid-template-columns: repeat(6, 1fr);
}

.numbers > div {
  width:100%;
  text-align:center;
}

.digits{
  padding-top:20px;
}

@media screen and (max-width: 600px) {
  header{
    grid-template-columns: repeat(5, 1fr);

  }
}