html{
  background:  rgb(240, 237, 226);
}
html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x:hidden;
}

:root{
  --green: rgb(78, 122, 52);
  --FT: 'Poiret One', cursive;
  --PF: 'Marcellus', serif;
} 

a{
  text-decoration:underline;
}

hr {
  visibility: hidden;
}

header{ 
  display: grid;
  position:sticky;
  grid-template-columns: repeat(10,1fr);
  align-items:center;
  justify-items:center;
  grid-gap:1px;
  position: fixed;
  top: 0;
  left:0;
  width:100%;
  background: white;
  max-height:100px;
  margin: 0 auto;
  text-align:center;
  font-family: var(--FT);
  color:rgb(88, 88, 88);
  box-sizing: border-box;
  font-size:1.3em;
  font-weight:bold;
  z-index:100;
  box-shadow: 0 2px 2px grey;
} 

span.serif{
  font-family: var(--PF);
  color: rgb(70,114,196);
}

header > a {
  font-size:0.6em;
  height:40px;
  line-height:10px;
  display: grid;
  align-items:center;
  justify-items:center;
  box-sizing: border-box;
  padding:5px;
  background: rgb(125,119,102);
  color: white;
  opacity: 0.75;
  transition: opacity 0.3s ease;
  width:100%;
  text-decoration: none;
  cursor: default;
}

header > a:hover {
  opacity: 1;
}

a.submenu_links{
  box-sizing: border-box;
  padding:3px;
  padding-right:10px;
  border-radius: 3px 30px 30px 3px;
  font-weight: bold;
  transition: background 0.3s ease;
}

a.submenu_links:hover{
  color: white;
  background: rgba(70,114,196,0.1);
}

#modes,
#gram{
  background: rgb(70,114,196);
}

h1, h2, h3, h4, h5 {
  text-align:center;
}

span.right{
  text-align:right;
  display: inline-block;
  width:100%;
}

.book_title {
  margin: 0 auto;
  text-align:center;
  font-size:3em;
  font-family: var(--PF);
  font-weight: bold;
  color: rgb(70,114,196);
}

span.sign {
  font-size:0.5em;
  color: rgb(68,64,54);
}

span.edit0 {
  display: inline-block;
  text-align:center;
  margin-left: 50%;
  transform: translate(-50%) rotate(-6deg);
  font-family: var(--FT);
  font-weight:bold;
  color: rgb(70,114,196);
  font-size: 1.5em;
  background: white;
  box-sizing: border-box;
  padding:4px;
  border-radius:3px;
}

sup{
  font-size:0.5em;
}

span.edit1 {
  width:100%;
  text-align:center;
  font-family: var(--FT);
  font-weight:bold;
  color: rgb(70, 114, 196);
}

span.new {
  color: rgb(70,114,196);
  /* font-weight:bold; */
}

span.fig,
span.fig1 {
  font-size:0.75em;
  display: inline-block;
  width:100%;
  text-align:center;
}

span.fig{
  margin-top:-10px;
}

spa.fig1{
  margin-top:10px;
}

span.center {
  display: inline-block;
  width:100%;
  text-align:center;
}

.book_text {
  margin: 0 auto;
  box-sizing: border-box;
  padding:20px;
  max-width:400px;
  font-family: 'Times New Roman', Times, serif;
  text-align: justify;
  color: rgb(68, 64, 54);
  transition: opacity 0.3s ease;
}

#frac0 {
  margin: 0 auto;
}

img {
  width:100%;
  border-radius:3px;
}

.glyphs{
  margin-left:50%;
  transform:translate(-50%);
}

.svg_paragraph_line0,
.svg_paragraph_line_nmae,
.svg_paragraph_line_chem0,
.svg_paragraph_mol_kfa,
.svg_paragraph_line_knoikfa,
.svg_paragraph_line_prefix_ptaefkai,
.svg_paragraph_line_prefix_kiofkai,
.svg_paragraph_phrase_past,
.svg_paragraph_phrase_future,
.svg_paragraph_phrase_cond,
.svg_paragraph_phrase_forest{
  display:grid;
  align-items:center;
  justify-items:center;
}

.seven_things {
  width:100%;
  display: grid;
  align-items:center;
  justify-items:center;
  grid-template-columns: repeat(7,1fr);
}

.six_mols,
.three_things,
.three_things_table {
  width:100%;
  display: grid;
  align-items:center;
  justify-items:center;
  grid-template-columns: repeat(3,1fr);
}

.four_things,
.four_things_table {
  width:100%;
  display: grid;
  align-items:center;
  justify-items:center;
  grid-template-columns: repeat(4,1fr);
}

.four_things_table,
.three_things_table{
  border-radius: 3px;
  grid-gap: 6px;
}

.four_things_table > span,
.three_things_table > span {
  display: inline-block;
  box-sizing: border-box;
  padding-top:3px;
  padding-bottom:3px;
  width:100%;
  text-align:center;
  font-size:0.8em;
  background: white;
  height:100%;
  border-radius:3px;
}

.four_things_table > div {
  background: white;
  width:100%;
  height:100%;
  display: grid;
  align-items:center;
  justify-items:center;
  border-radius:3px;
}

#pareidolie{
  grid-template-rows: repeat(6,120px);
}

#pareidolie > span {
  display:inline-block;
  width:100%;
  text-align:left;
}

.two_things,
.two_things_table {
  width:100%;
  display: grid;
  align-items:center;
  justify-items:center;
  grid-template-columns: repeat(2,1fr);
}

.two_things_table,
.seven_things {
  grid-gap: 6px;
}

.two_things_table > div,
.seven_things > div {
  text-align:center;
  box-sizing: border-box;
  padding:6px;
  height:100%;
  display: grid;
  align-items:center;
  justify-items:center;
  background: white;
  border-radius:3px;
}

.four_things > div > svg,
.three_things > div > svg,
.two_things > div > svg,
.two_things_table > div {
  width:100%;
}

.syll_tit {
  background: rgb(125,119,102) !important;
}



img {
  margin-left: 50%;
  transform: translate(-50%);
}

#pic0{
  width:100px;
}

#pic1{
  width:200px;
}

#pic2,#pic3{
  width:300px;
}

.numberz {
  width:100%;
  display: grid;
  align-items:center;
  justify-items:center;
  grid-template-columns: repeat(6, 1fr);
}

.numbers > div {
  width:100%;
  text-align:center;
}

.digits{
  padding-top:20px;
}

svg.svg_illustr{
  margin-left: 50%;
  transform: translate(-50%);
}

#line_kamno {
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

@media screen and (max-width: 600px) {
  header{
    grid-template-columns: repeat(5, 1fr);
  }
  span.serif{
    font-size:0.65em;
  }
}