html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    font-family: 'Poiret One', cursive;
}

.book{
  margin: 0 auto;
  width:360px;
  display:grid;
  align-items:center;
  justify-items:center;
  grid-template-columns: repeat(2,1fr);
  grid-gap:0px;
  background: white;
  box-sizing: border-box;
}

a{
  color: rgb(50,150,50);
}

p.disclaimer{
  grid-column: 1 / span 2;
  text-align:center;
}

#lacle{
  grid-column: 1 / span 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.svgTitle{
  fill:none;
  stroke-width:6px;
  stroke-linecap:round;
  stroke-linejoin: round;
  box-sizing: border-box;
}

.nmo_ka_tae{
  grid-column: 1/span 2;
  fill:none;
  stroke-width:6px;
  stroke-linecap: round;
  stroke-linejoin: round;
  height:100px;
  margin-bottom:100px;
}

p.pre {
  grid-column: 1 / span 2;
  width:100%;
  text-align:center;
  height:70px;
  z-index:1000;
}

.choice{
  width:90%;
  background: rgb(50,150,50);
  text-align:center;
  margin-bottom:20px;
  box-sizing: border-box;
  padding:10px;
  border-radius:3px;
  transition: all 0.3s ease;
  color:white;
  text-shadow: 0 1px 1px black;
  font-weight:bold;
  cursor:pointer;
  border:1px solid white;
  position:sticky;
  top:0;
  z-index:1000;
}

.choice:hover{
  box-shadow: 0 2px 10px black;
}

.num{
  grid-column: 1/span 2;
  fill:none;
  stroke-width:6px;
  stroke-linecap: round;
  stroke-linejoin: round;
  height:100px;
}

.page_box{
  grid-column: 1 /span 2;
  width:100%;
  display:grid;
  grid-template-columns: auto 30px auto;
  align-items:center;
  justify-items:center;
}

.page_number{
  grid-column: 2;
  width:100%;
  stroke-width:6px;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill:none;
  z-index:2;
}

.paragraph,
.arrow{
  fill:none;
  stroke-width:6px;
  stroke-linecap: round;
  stroke-linejoin: round;
  padding-bottom:20px;
  padding-top:20px;
  background:white;
  opacity:1;
  transition: all 0.3s ease;
}

.arrow{
  width:100px;
  cursor:pointer;
  transition: all 0.3s ease;
  opacity: 0.5;
}

.arrow:hover{
  opacity:1;
}

#arrow_previous{
  grid-column: 1;
}

#arrow_next{
  grid-column: 2;
}

.chapterTitle{
  grid-column: 1/span 2;
  fill:none;
  stroke-width:6px;
  stroke-linecap: round;
  stroke-linejoin: round;
  height:100px;
}

hr {
  width:80%;
  border-color: rgb(200,200,200);
  border-bottom:none;
}

#illustration0{
  stroke-width:10px;
}

.img_paint{
  grid-column: 1 /span 2;
  width:100%;
  box-sizing: border-box;
  padding:10px;
  border-radius:13px;
}

.wrap{
  height:100%;
  width:100%;
  z-index:100;
}

.explain{
  width:100%;
  height:100%;
  font-size:0.8em;
  background: radial-gradient(circle at top left, black, rgb(50,150,50));
  color:white;
  transition: all 0.3s ease;
  text-align:center;
  /* word-break: break-all; */
  box-sizing: border-box;
  padding:10px;
  display:none;
  align-items:center;
  justify-items:center;
  text-align:left;
  opacity:0;
  border-radius:3px;
  text-shadow: 0 1px 1px black;
}