a{
    text-decoration: none;
    color: inherit;
}

#main_wrapper_molecular {
    max-width: 675px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 500px auto;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 4px;
    grid-gap: 5px;
    align-items: center;
    justify-items: center;
    align-items: start;
}

.composer_title{
    font-family: 'Poiret One', cursive;
    font-size:2.5em;
    text-align:center;
}

span.credit0{
    font-size:0.7em;
    color: rgb(163, 162, 162);
}

span.credit1{
    font-size:0.7em;
    font-weight:bold;
}

span.green{
    color: rgb(101, 146, 34);
    font-weight:bold;
}

span.tomato{
    color: tomato;
    font-weight:bold;
}

span.corn{
    color: cornflowerblue;
    font-weight:bold;
}

span.gold{
    color: gold;
    font-weight:bold;
}

.IO {
    width: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
    border-radius: 3px;
    grid-gap: 5px;
    padding: 2.5px;
    box-sizing: border-box;
    /* margin-top:250px; */
}

#IO_SVG {
    width: 500px;
    height: 800px;
    background: black;
    border-radius: 15px;
}

#controls_molecular {
    width: 50%;
    box-sizing: border-box;
    padding: 2.5px;
    display: grid;
    align-items: center;
    justify-items: center;
    background: transparent;
    border-radius: 3px;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
}

.btn_molecular {
    width: 100%;
    height: 30px;
    display: grid;
    align-items: center;
    justify-items: center;
    border: 1px solid transparent;
    box-sizing: border-box;
    cursor: pointer;
    font-family: 'Poiret One', cursive;
    background: black;
    color: white;
    opacity: 0.75;
    transition: all 0.3s ease;
}

.btn_molecular:hover {
    opacity: 1;
    color: greenyellow;
    border: 1px solid black;
}

.molecular_memory {
    word-break: break-all;
    background: black;
    box-sizing: border-box;
    padding: 5px;
    font-size: 0.5em;
    color: greenyellow;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    border-radius: 3px;
}

#molecular_printer {
    height: 800px;
    width: 500px;
    box-sizing: border-box;
    border-radius: 15px;
    display: grid;
    align-items: center;
    justify-items: center;
}

#IO_molecular_SVG {
    height: 800px;
    width: 500px;
}

.circles_mol_min,
.circles_mol_max {
    transition: all 0.3s ease;
}

.circles_mol_min:hover {
    r: 25;
}

.circles_mol_max:hover {
    r: 64;
}

#wrapper_IO_right {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-gap: 0px;
    box-sizing: border-box;
    padding:5px;
}

.hexagon {
    position: absolute;
    width: 64px;
    height: 36.95px;
    background-color: black;
    margin: 18.48px 0;
    font-family: 'Poiret One', cursive;
    cursor: pointer;
    transition: all 0.3s ease;
    color: white;
    display: grid;
    align-items: center;
    justify-items: center;
    box-sizing: border-box;
}

.hexagon:before,
.hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 32px solid transparent;
    border-right: 32px solid transparent;
}

.hexagon:before {
    bottom: 100%;
    border-bottom: 18.48px solid black;
    position: absolute;
}

.hexagon:after {
    top: 100%;
    width: 0;
    border-top: 18.48px solid black;
    position: absolute;
}

#hexWrap {
    left: 0;
    top: 0;
    position:relative;
    height: 150px;
}

#center {
    margin-left: 50%;
    top: 50%;
    transform: translate(-50%, 50%);
    background: transparent;
    border: none;
    display: grid;
    align-items: center;
    justify-items: center;
    cursor: initial;
    background: rgba(255, 255, 255, 0.5);
    cursor:move;
}

svg.inner_SVG {
    margin-top: -6px;
    height: 50px;
    width: 50px;
    transition: all 0.3s ease;
}

svg.inner_SVG>path {
    fill: none;
    stroke: black;
    stroke-width: 20px;
    stroke-linecap: round;
    stroke-linejoin: round;
}

#center:before,
#center:after {
    background: transparent;
    border-top: none;
    border-bottom: none;
    z-index: -1;
}

#center:before {
    border-bottom: 18.48px solid rgba(255, 255, 255, 0.5);
}

#center:after {
    border-top: 18.48px solid rgba(255, 255, 255, 0.5);
}

svg.inner_SVG:hover {
    transform: rotate(-180deg);
}

#CUT_mol {
    left: -64px;
    top: 38px;
    display:grid;
    align-items:center;
    justify-items:center;
    grid-template-columns: repeat(2,1fr);
}

#CUT_mol {
    background: white;
    color: black;
}

#CUT_mol:after {
    border-top: 18.48px solid white;
}

#CUT_mol:before {
    border-bottom: 18.48px solid white;
}

#CLEAR_mol {
    top: 38px;
    color: black;
    background: tomato;
}

#CLEAR_mol:before {
    border-bottom: 18.48px solid tomato;
}

#CLEAR_mol:after {
    border-top: 18.48px solid tomato;
}

#LINK_mol {
    top: 93px;
    left: -95px;
    color: black;
    background: greenyellow;
}

#LINK_mol:before {
    border-bottom: 18.48px solid greenyellow;
}

#LINK_mol:after {
    border-top: 18.48px solid greenyellow;
}

#MOLECULE {
    top: 148px;
    left: -64px;
    background: cornflowerblue;
    color: white;
}

#MOLECULE:before {
    border-bottom: 18.48px solid cornflowerblue;
}

#MOLECULE:after {
    border-top: 18.48px solid cornflowerblue;
}

#DISSOLVE_mol {
    top: 148px;
    background: blueviolet;
}

#DISSOLVE_mol:before {
    border-bottom: 18.48px solid blueviolet;
}

#DISSOLVE_mol:after {
    border-top: 18.48px solid blueviolet;
}

#WASH_mol {
    top: 93px;
    left: 32px;
    background: mediumvioletred;
}

#WASH_mol:before {
    border-bottom: 18.48px solid mediumvioletred;
}

#WASH_mol:after {
    border-top: 18.48px solid mediumvioletred;
}

.tit {
    margin: 0 auto;
    width: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
}

#title_SVG {
    width: 400px;
    fill: none;
    stroke: black;
    stroke-width: 8px;
    stroke-linecap: round;
}

.choices{
    width:100%;
    box-sizing: border-box;
    padding:20px;
    border:1px solid lightgrey;
    border-radius:10px;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    background:black;
}

.choice{
    /* display: grid;
    align-items:center;
    justify-items:center; */
    text-align:center;
    font-family: 'Poiret One', cursive;
    font-size:1.5em;
    box-sizing: border-box;
    padding:10px;
    width:100%;
    height:50px;
    border:1px solid lightgrey;
    border-radius:4px;
    transition: all 0.3s ease, 0.5s box-shadow;
    background: black;
    color:white;
    cursor: pointer;
}

.choice:hover{
    background: rgb(20,20,20);
    /* color:black; */
    /* box-shadow: 0 3px 5px black; */
    box-shadow: 0 0 0.3em 0.3em rgba(255,255,255,0.5),0 0 0.3em 0.3em rgba(255,255,255,0.5)inset;
}

p#move{
    font-family: 'Poiret One', cursive;
    font-size:1.3em;
    transition: all 0.3s ease;
}

#dic{
    width:100%;
    border-radius:10px;
    font-family: 'Poiret One', cursive;
    text-align:center;
    background: radial-gradient(grey, rgb(48, 48, 48));
    display:grid;
    align-items:center;
    justify-items:center;
}

#dicLink{
    display:grid;
    align-items:center;
    justify-items:center;
    width:250px;
    height:40px;
    border:1px solid white;
    border-radius:5px;
    box-shadow: 0px 0px 6px 2px black inset;
    transition: all 0.3s ease;
    background: radial-gradient(white, cornflowerblue);
}

#dicLink:hover{
    background: radial-gradient(white, gold);
    color: black;
}

#paletteWrapper{
    width:100%;
    height:50px;
    display: grid;
    align-items:center;
    justify-items:center;
    grid-template-columns: repeat(5,1fr);
}

.colorPalette{
    width:16px;
    height:16px;
    transition: all 0.3s ease;
    cursor: pointer;
    z-index:10;
    border-radius:100px;
    display:grid;
    align-items:center;
    justify-items:center;
    font-size:0.5em;
    position: absolute;
}
.colorPalette:hover{
    box-shadow: 0 0 1px 0px black;
    width:30px;
    height:30px;
    z-index:100;
    font-size:0.8em;
}

#cp0{
    background: radial-gradient(white, gold);
    margin-top:-39px;
    margin-left:-25px;
}

#cp1{
    background: radial-gradient(white, rgb(101, 146, 34));
    margin-left:-45px;
}

#cp2{
    background: radial-gradient(white, cornflowerblue);
    margin-top:39px;
    margin-left: -25px;
}

#cp3{
    background: radial-gradient(white, tomato);
    margin-top:-39px;
    margin-left: 25px;
}

#cp4{
    background:radial-gradient(white, black);
    grid-column: 1/span 2;
}

#cp5{
    background: radial-gradient(white, blueviolet);
    margin-top: 39px;
    margin-left: 25px;
}

#cp6{
    background: radial-gradient(white, mediumvioletred);
    margin-left: 45px;
}

.toggles{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    position:relative;
}

#toggle,
#toggle2{
    width:100px;
    text-align:center;
    background: black;
    color:white;
    font-family: 'Poiret One', cursive;
    box-sizing: border-box;
    border:1px solid grey;
    margin:0 auto;
    padding:10px;
    border-radius:3px;
    cursor:pointer;
    transition: all 0.3s ease;
}

#toggle:hover,
#toggle2:hover{
    background: white;
    color:black;
}

#hand{
    grid-column: 1 / span 2;
    height:20px;
    width:20px;
    border:1px solid black;
    font-family: 'Poiret One', cursive;
    font-size:0.3em;
    display:grid;
    align-items:center;
    justify-items:center;
    border-radius:2px;
    cursor: move;
    background: white;
    transition: all 0.3s ease;
}

#hand:hover{
    transform: rotate(360deg);
    background: tomato;
}

#colorResult{
    grid-row: 1 / span 3;
    height:100%;
    display: grid;
    align-items:center;
    justify-items:center;
    border-radius:100px;
    box-sizing: border-box;
    border:1px solid black;
    font-family: 'Poiret One', cursive;
    width:100%;
    font-size:0.5em;
    background:white;
    box-shadow: 0 3px 10px black;
}

input{
    width:50px;
    font-family: 'Poiret One', cursive;
    box-shadow: 0 2px 2px black inset;
    box-sizing: border-box;
    padding:2px;
    font-weight: bold;
    text-align:center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#CS_R{
    background:rgb(255, 0, 0);
    color:white;
    text-shadow: 0 1px 1px black;
}

#CS_G{
    background: rgb(0, 255, 0);
}

#CS_B{
    background: rgb(0, 0, 255);
    color:white;
    text-shadow: 0 1px 1px black;
}

.colorSpex{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column: 1 / span 2;
    align-items:center;
    justify-items:center;
}

.ABC{
    padding-top:10px;
    grid-column: 1 / span 2;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
}

#choiceA, #choiceB, #choiceC {
    transition: all 0.3s ease;
}

#choiceA:hover, #choiceC:hover{
    transform: rotate(90deg);
}

#choiceB:hover {
    transform: rotate(-90deg);
}