html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
} 

:root {
    --FT: 'Poiret One', cursive;
} 

footer{
    position:absolute;
    bottom:10px;
    left:10px;
    font-family: var(--FT);
}

a{
    text-decoration: none;
    color:inherit;
}

a:hover{
    color:rgb(157, 196, 241);
}

span.nA{
    color: rgb(90,156, 36);
}

span.nB{
    color: cornflowerblue;
}

span.nC{
    color:tomato;
}

span.nD{
    color: gold;
}

#topName {
    display: none;
    position: fixed;
    left: 100px;
    width: 75vw;
    font-family: var(--FT);
    color: black;
    font-weight:bold;
    text-align: center;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;
    background: white;
    border-bottom: 1px solid white;
    font-size: 2em;
    transition: all 0.3s ease;
    z-index:2;
}

#masterMenu {
    display: block;
    position: fixed;
    height: 70px;
    width: 70px;
    background: black;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    box-sizing: border-box;
    border-radius: 100px 0 0 100px;
    display: grid;
    align-items: center;
    justify-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.menuLine {
    height: 5px;
    width: 40px;
    background: white;
    transition: all 0.3s ease;
    border-radius: 2px;
}

#masterMenu:hover {
    padding-left: 0;
    padding-right: 10px;
}

#masterMenu:hover #menuLine1 {
    width: 45px;
    margin-left: 10px;
    background: radial-gradient(white, black);
}

#masterMenu:hover #menuLine0 {
    transform: rotate(-40deg);
    background: radial-gradient(white, black);
}

#masterMenu:hover #menuLine2 {
    transform: rotate(40deg);
    background: radial-gradient(white, black);
}

#Xball {
    display: grid;
    align-items: center;
    justify-items: center;
    position: fixed;
    height: 70px;
    width: 70px;
    background: white;
    border: 1px solid black;
    top: 50%;
    right: 70px;
    transform: translateY(-50%);
    box-sizing: border-box;
    border-radius: 100%;
    transition: all 0.3s ease;
    cursor: pointer;
}

#menuBalls {
    display: none;
} 

.menuBall {
    display: grid;
    align-items: center;
    justify-items: center;
    position: fixed;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    background: black;
    color: white;
    padding: 3px;
    font-size: 1em;
    font-weight:bold;
    box-sizing: border-box;
    opacity: 0;
    transition: all 0.3s ease, 0.5s box-shadow;
    cursor: pointer;
    font-family: var(--FT);
    border: 5px solid white;
}

.menuBall:hover {
    font-weight: bold;
    border: 0px solid white;
    box-shadow: 0 0 1em 0.5em white inset;
}

#menuBallBlog{
    top:50%;
    right:70px;
    transform: translateY(-250%);
    background: rgb(133,197,37);
    color:black;
}

#menuBall0 {
    top: 50%;
    right: 70px;
    transform: translateY(-150%);
    background: rgb(133, 197, 37);
    color: black;
}

#menuBall1 {
    top: 50%;
    right: 131px;
    transform: translateY(-100%);
    background: cornflowerblue;
    color:white;
    text-shadow: 0 1px 1px black;

}

#menuBallGraphieros{
    top:50%;
    right:192px;
    transform: translateY(-150%);
    background: cornflowerblue;
}

.svgCle{
    width:100%;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width:4px;
}

#menuBall2 {
    top: 50%;
    right: 131px;
    transform: translateY(0%);
    background:tomato;
    color:white;
    text-shadow: 0 1px 1px black;
}

#menuBallJournal{
    top:50%;
    right: 192px;
    transform:translateY(50%);
    background: tomato;
    font-size:0.8em;
    text-shadow: 0 1px 1px black;
}

#menuBall3 {
    top: 50%;
    right: 70px;
    transform: translateY(50%);
    background:gold;
    color:black;
}

span#I{
    color: greenyellow;
    text-shadow: 0 0 4px white;
}

span#D{
    color: cornflowerblue;
    text-shadow: 0 0 4px white;
}

span#E{
    color: tomato;
    text-shadow: 0 0 4px white;
}

span#EE{
    color: gold;
    text-shadow: 0 0 4px white;
}

.XballCross {
    height: 40px;
    width: 8px;
    background: black;
    position: absolute;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px solid white;
    transition: all 0.3s ease;
    opacity: 0;
}

#Xball:hover #XballCross0 {
    transform: rotate(315deg);
    background: radial-gradient(white, black);
}

#Xball:hover #XballCross1 {
    transform: rotate(-315deg);
    background:radial-gradient(white, black);
}

#XballCross0 {
    transform: rotate(-45deg);
}

#XballCross1 {
    transform: rotate(45deg);
}

#LANDING {
    display: block;
    position: fixed;
    top: 50%;
    right: -100px;
    transform: translateY(-50%);
    box-sizing: border-box;
    font-size: 3em;
    padding-right: 200px;
    font-family: var(--FT);
    color: black;
    background: linear-gradient(to right, transparent, white, white);
    z-index: -1;
}

@keyframes slideNameOpen {
    from {
        right: -100px;
    }
    to {
        right: 80px;
    }
}

@keyframes slideNameClose {
    from {
        right: 80px;
    }
    to {
        right: -100px;
    }
}

/*SECTIONS*/

.sections {
    display: none;
    position: relative;
    left: 100px;
    width: 75vw;
    height: 100%;
    background: black;
    transition: all 0.3s ease;
    z-index: 0;
}

.sections>p{
    font-family: var(--FT);
    color:white;
    text-align:center;
    width:100%;
}

.sectionTitle {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    color: white;
    font-family: var(--FT);
    box-sizing: border-box;
    padding-top: 40px;
    padding-bottom: 0px;
    font-size: 10em;
}

#QUOTE {
    box-sizing: border-box;
    padding:15px;
    border-radius:100%;
    position: fixed;
    top: 85%;
    margin-left:50%;
    transform: translate(-50%);
    width: 90vw;
    text-align: center;
    font-family: var(--FT);
    font-size: 1.3em;
    color: black;
    font-style: italic;
    transition: all 0.3s ease;
}

/*BIO*/

#BIO{
    height:130vh;
}

#BIOmenuWrapper{
    display:block;
    position:relative;
    width:100%;
    max-width:500px;
    height:10px;
    box-sizing: border-box;
    margin:0 auto;
    transition: all 0.3s ease;
}

#BIOmenuWrapper > img{
    width:100%;
    position:absolute;
    transition: all 0.3s ease;
    border-radius:30px 30px 0 0;
    box-sizing: border-box;
    border:1px solid black;
}

#BIOPICmenu{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    align-items:center;
    justify-items:center;
    box-sizing: border-box;
    padding:10px;
    grid-gap:10px;
    width:100%;
    height:70px;
    border-radius:30px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right:1px solid black;
    position:absolute;
    transition:all 0.3s ease;
    font-family: var(--FT);
    background:white;
}

img#BIOPIC{
    border-radius: 30px 30px 30px 100px;
}

#BIOPICmenu > div {
    display:grid;
    align-items:center;
    justify-items:center;
    height:50px;
    background:white;
    color:black;
    box-sizing: border-box;
    border:1px solid black;
    text-align:center;
    cursor:pointer;
    transition:all 0.3s ease, 0.3s box-shadow;
    font-weight:bold;
}

#BIOPICmenu > div:hover{
    background: black;
    color:white;
}

#BIOPICmenu0{
    border-radius: 100px 12px 12px 100px;
    width:100%;
}

#BIOPICmenu0:hover{
    box-shadow: 2em 0 2em 2em black inset;
}

#BIOPICmenu1{
    border-radius: 3px;
    width:100%;
}

#BIOPICmenu1:hover{
    box-shadow: 0em 0 2em 2em black inset;
}

#BIOPICmenu2{
    border-radius: 12px 100px 100px 12px;
    width:100%;
}

#BIOPICmenu2:hover{
    box-shadow: -2em 0em 2em 2em black inset;
}

.BIOcontent{
    width:100%;
    position:absolute;
    transition: all 0.3s ease;
    border-radius:30px 30px 0 0;
    box-sizing: border-box;
    color:white;
    margin-top:70px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right:30px;
    padding-bottom:90px;
    font-family: var(--FT);
    background: linear-gradient(to top, black, transparent);
    display:none;
}

span.gold{
    color:gold;
}

span.green{
    color:rgb(115, 255, 0);
    font-size:0.7em;
}

span.green2{
    color: greenyellow;
    font-size:1em;
}

span.blue{
    color: cornflowerblue;
}

/*IDEO*/

.svgTitle{
    fill:none;
    stroke-width:6px;
    stroke-linecap:round;
    stroke-linejoin: round;
    box-sizing: border-box;
    height:100%;
    transition: all 0.3s ease;
  }

  #cleGraph{
    border:1px solid green;
    background: white;
    transition: all 0.3s ease;
  }

  #cleGraph:hover > svg {
      height:120%;
  }

.graphieros{
    width:100%;
    background:black;
    display:grid;
    box-sizing: border-box;
    padding:10px;
    grid-gap: 10px;
    align-items:center;
    justify-items:center;
    grid-template-columns: auto auto;
    font-family: var(--FT);
}

.graphierosNarrative{
    width:100%;
    box-sizing: border-box;
    padding:5px;
    background:black;
    color:white;
    display:grid;
    align-items:center;
    justify-items:center;
    border-radius:2px;
}

.graphierosNarrative > p > a{
    font-weight:bold;
    text-decoration: underline;
}

#prezGlyph{
    background:black;
    width:200px;
    border:none;
    color:white;
}

#prezGlyph2{
    height:150px;
    width:150px;
}

svg.glyph{
    height:200px;
    width:200px;
    stroke-linecap: round;
    stroke-linejoin: round;
    background:black;
    stroke: cornflowerblue;
    fill:cornflowerblue;
}

circle.c0:hover{
    r:2;
}

#narrativePic0{
    display:grid;
    align-items:center;
    justify-items:center;
}

#mol{
    width:100%;
    border-radius:2px;
}

.insidePicWrapper{
    width:100%;
    display:grid;
    align-items:center;
    justify-items:center;
}

.insidePic{
    width:100%;
    border-radius:2px;
}

p#cleGreen{
    color: rgb(108, 180, 48);
}

.graphierosCle{
    width:200px;
    height:50px;
    display:grid;
    align-items:center;
    justify-items:center;
    border:1px solid white;
    border-radius:2px;
    cursor:pointer;
    transition: all 0.3s ease, 0.3s box-shadow;
}

#cleFR{
    background: rgb(90,156,36);
    color:black;
}

#cleFR:hover{
    background: rgb(108, 180,48);
    box-shadow: 0 0 1em 0.5em white inset, 0 0 1em 0.2em white;
}

#cleEN{
    background:black;
    border:1px solid rgb(90,156,36);
    color: rgb(90,156, 36);
}

#cleEN:hover{
    border:1px solid rgb(144, 212, 88);
    color: rgb(144, 212, 88);
    box-shadow: 0 0 1em 0.5em rgb(144,212,88) inset, 0 0 1em 0.2em white;
}

/*GALERIE*/

.galerieWrapper{
    width:100%;
    box-sizing: border-box;
    padding:10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items:center;
    justify-items:center;
    grid-gap: 10px;
    transition: all 0.3s ease;
    background:black; 
}

.galeriePicWrapper{
    width:100%;
    position:relative;
    transition: all 0.3s ease;
    box-sizing: border-box;
    border:1px solid tomato;
    border-radius:2px;
    display:grid;
    align-items:center;
    justify-items:center;
}

.picCaption{
    width:100%;
    height:100%;
    background: radial-gradient(white, rgba(255,255,255,0.2));
    color:black;
    box-sizing: border-box;
    font-family: var(--FT);
    text-align:center;
    font-size:1em;
    position:absolute;
    border-radius:2px;
    top:0;
    opacity:0;
    display:grid;
    align-items:center;
    justify-items:center;
    transition: all 0.3s ease; 
}

#widePic0,
#widePic1,
#widePic2{
    grid-column: 1 / span 3;
}

.galeriePicWrapper > img {
    width:100%;
    border-radius:2px;
    box-sizing: border-box;
}

#galerieBottom{
    grid-column: 1 / span 3;
    width:100%;
    box-sizing: border-box;
    display:grid;
    align-items:center;
    justify-items:center;
}

#galerieBottom>p{
    font-family: var(--FT);
    color:white;
}

#logoIG{
    border-radius:13px;
    opacity:0.75;
    transition: all 0.3s ease;
}

#logoIG:hover{
    opacity:1;
    box-shadow: 0 0 10px white;
}

/*DEV*/
.devMenuWrapper{
    box-sizing: border-box;
    margin:0 auto;
    padding:10px;
    display: grid;
    grid-gap:10px;
    align-items:center;
    justify-items:center;
    color:white;
    font-family: var(--FT);
}

.devMenu{
    border:1px solid white;
    box-sizing: border-box;
    padding:10px;
    border-radius:4px;
    width:100%;
    max-width:250px;
    text-align:center;
    transition: all 0.3s ease, 0.5s box-shadow;
    cursor: pointer;
    color:gold;
}

#devMenu3{
    width:250px;
}

.devMenu:hover{
    background: transparent;
    color:gold;
    box-shadow: 0 0 0.6em 0.3em gold inset, 0 0 0.3em 0.2em gold;
}

.appliWrapper{
    display: none;
    width:100%;
    background:black;
    box-sizing: border-box;
    align-items:center;
    justify-items:center;
    padding:10px;
    color: white;
}

/*APP*/

p.appTitle{
    width:300px;
    font-family: var(--FT);
    color: grey;
    text-align:center;
}

.wrapper,
.wrapper_F,
.wrapper_L{
    height:200px;
    width:200px;
}

svg#baseSVG,
svg#baseSVG_F,
svg#baseSVG_L{
    height:200px;
    width:200px;
}

circle{
    transition: all 0.3s ease;
}

circle.inputCirclesF:hover{
    r: 800;
}

circle.inputCircles:hover{
    r:25;
}

.controls{
    width:200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 7px;
    align-items:center;
    justify-items:center;
    box-sizing: border-box;
    padding:5px;
    font-family: var(--FT);
}

.controlBtn{
    box-sizing: border-box;
    padding:3px;
    border:1px solid white;
    width:100%;
    text-align:center;
    transition: all 0.3s ease, 0.5s box-shadow;
    cursor: pointer;
}

.controlBtn:hover{
    box-shadow: 0 0 0.3em 0.3em rgba(255,255,255,0.5);
}

#CUT,
#CUT_F,
#PRINT,
#PRINT_F{
    border-radius: 100px 2px 2px 100px;
}

#CLEAR,
#CLEAR_F,
#WASH,
#WASH_F{
    border-radius: 2px 100px 100px 2px;
}

#CUT:hover,
#CUT_F:hover,
#ZOOMIN:hover{
    background: rgb(90,156,36);
    color:black;
}

#PRINT:hover,
#PRINT_F:hover{
    background: cornflowerblue;
    color:black;
}

#CLEAR:hover,
#CLEAR_F:hover,
#ZOOMOUT:hover{
    background: tomato;
}

#WASH:hover,
#WASH_F:hover{
    background: gold;
    color:black;
}

#ZOOMIN,
#ZOOMOUT{
    height:50px;
    display:grid;
    align-items:center;
    justify-items:center;
    transition: all 0.3s ease;
}

#ZOOMIN{
    border-radius:100px 2px 2px 100px;
}

#ZOOMOUT{
    border-radius:2px 100px 100px 2px;
}

.memory{
    border:1px solid rgb(50,50,50);
    width:200px;
    overflow-wrap: break-word;
    box-sizing: border-box;
    padding:10px;
    font-family: 'Courier New', Courier, monospace;
    color: greenyellow;
    font-size:0.6em;
    border-radius:2px;
}

#STM,
#STM_F{
    height:50px;
}

#LTM,
#LTM_F{
    height:100px;
}

#PRINTER{
    width:200px;
    box-sizing: border-box;
    padding:10px;
    display:grid;
    align-items:center;
    justify-items:center;
    background:white;
    border-radius:2px;
}

#PRINTER_F{
    width:200px;
    height:200px;
    background:white;
    border-radius:2px;
    position:relative;
    display:grid;
    align-items:center;
    justify-items:center;
    overflow:hidden;
}

p.memoryType{
    display:grid;
    align-items:end;
    width:200px;
    height:100%;
    font-family: 'Courier New', Courier, monospace;
    color:white;
    font-size:0.6em;
}

.outputSVG,
.outlineSVG{
    position:absolute;
    transition: all 0.5s ease;
}

#progWow{
    width:100%;
    display:grid;
    align-items:center;
    justify-items:center;
    background:black;
    position:relative;
}

#progWow>img{
    width:250px;
    border-radius:50px;
}

.cover{
    width:250px;
    height:100%;
    position:absolute;
    background: radial-gradient(transparent,black);
    display:grid;
    align-items:center;
    justify-items:center;
    font-family: var(--FT);
    color:white;
}

/*FORMS*/
.form {
    width:200px;
    display:none;
    align-items:center;
    justify-items:center;
    box-sizing: border-box;
    text-align:center;
    padding-top: 10px;
    padding-bottom:10px;
    grid-gap:5px;
}

form > input{
    width:100%;
    box-sizing: border-box;
    border-radius:2px;
    margin-top:5px;
    background: rgb(30,30,30);
    color:grey;
    border:none;
    text-align:center;
    height:40px;
}

::placeholder {
    color: rgb(50,50,50);
}

::-ms-input-placeholder {
    color: rgb(50,50,50);
  }

#glyphCode{
    display:none;
}

#inputOK{
    color:rgb(50,50,50);
    height:40px;
    border-radius: 100px;
    cursor:pointer;
}

svg.storedSVG{
    fill:none;
    height:50px;
    width:50px;
}

svg.storedSVG path {
    fill:none;
    stroke:black;
    stroke-width:4px;
    stroke-linecap:round;
    stroke-linejoin:round;
}

.arrow {
    width:200px;
    height:30px;
    background:white;
    border-radius: 0 0 100% 100%;
}



@media screen and (max-width: 680px) {
    #LANDING {
        font-size: 1.3em;
        right: -100px;
        text-align: center;
    }
    @keyframes slideNameOpen {
        from {
            right: -100px;
        }
        to {
            right: 0px;
        }
    }
    @keyframes slideNameClose {
        from {
            right: 0px;
        }
        to {
            right: -100px;
        }
    }

    .sectionTitle{
        font-size:6em;
    }

    .sections,
    #topName {
        left: 0px;
        width: 78vw;
    }
    #topName {
        font-size: 1.3em;
    }
    #QUOTE {
        top: 75%;
        font-size: 1em;
    }

    .galerieWrapper{
        display:block;
    }

    .picCaption{
        font-size:1.3em;
    }

    .graphieros{
        grid-template-columns: auto;
    }

} 

@media screen and (max-width: 600px) {
    .sectionTitle{
        font-size:4em;
    }
    .galerieWrapper{
        display:block;
    }

    .graphieros{
        grid-template-columns: auto;
    }

    .picCaption{
        font-size:1.3em;
    }

    .appliWrapper{
        display: none;
        width:100%;
        background:black;
        box-sizing: border-box;
        align-items:center;
        justify-items:center;
        padding:10px;
        color: white;
    }
    
    p.appTitle{
        width:200px;
        font-family: var(--FT);
        color: grey;
        text-align:center;
    }
    
}   