html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

:root {
    --c: rgb(100,130,150);
    --f: 'Lobster', cursive;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

.main {
    margin: 0 auto;
    margin-top:150px;
    width:100vw;
    box-sizing: border-box;
    padding: 20px;
    grid-gap: 20px;
    grid-template-columns: repeat(6,1fr);
    opacity: 0;
    transition: opacity 0.666s ease;
} 

#start_animation {
    z-index:100;
    display: grid;
    position: fixed;
    top:42%;
    left:50%;
    transform: translate(-50%,-50%);
    height:500px;
    width:500px;
    border-radius:100%;
    background: radial-gradient(at top left,  rgb(216, 232, 243), rgb(100,130,150));
    box-shadow: 20px 20px 20px rgba(77,53,33,0.75) inset, 20px 20px 20px rgba(77, 53, 33, 0.55);
    opacity: 0.9;
    transition: all 0.3s ease;
    cursor: pointer;
}

#start_animation:hover {
    opacity: 1;
}

#start_animation:hover span#continue {
    color: var(--c);
}

#start_animation svg{
    filter: drop-shadow(5px 5px 3px  rgba(77,53,33,0.75)) !important;
}

span.start_animation_title,
span.header_logo {
    display: block;
    position: absolute;
    text-align:center;
    color: var(--c);
    font-family: 'Monoton', cursive;
}

span.start_animation_title {
    left:50%;
    transform: translate(-50%);
    bottom: -160px;
    font-size: 7em;
    opacity: 0;
    transition: opacity 1s ease;
}

span.header_logo {
    font-size:4em;
    left: 0px;
    padding-left:20px;
    padding-right: 20px;
    height:140px;
}

span.start_animation_title span,
span.header_logo span {
    font-size:0.5em;
    font-family: 'Lobster', cursive;

}

span#continue {
    display: inline-block;
    position: absolute;
    text-align:center;
    width:300px;
    transform: translate(-25%);
    margin-top:-20px;
    font-size: 0.2em;
    color: rgb(156, 171, 180);
    transition: color 0.3s ease-in-out;
}

header{
    z-index:99;
    width:100%;
    height:47px;
    display: block;
    position: fixed;
    top:0;
    left:0;
    background: linear-gradient(to right, white, rgb(195, 201, 206));
}

span#motto {
    display:inline-block;
    position: relative;
    font-size:0.23em;
    top:-70px;
    color: rgb(100,130,150);
}

footer{
    display: grid;
    margin:0 auto;
    justify-items:center;
    width:100%;
    max-width:600px;
    text-align:center;
    height:100px;
    border-top: 1px solid rgb(156, 171, 180);
    box-sizing: border-box;
    padding:20px;
    font-family: 'Oswald', sans-serif;
    color: var(--c);
}

footer span {
    font-size:0.7em;
}

/* images */

.background_img {
    display: block;
    margin:0 auto;
    width:90vw;
    max-width:800px;
}

.gallery {
    display: grid;
    margin: 0 auto;
    width:100%;
    max-width: 800px;
    box-sizing: border-box;
    padding: 20px;
    grid-gap: 80px;
    align-items:center;
    justify-items:center;
    grid-template-columns: repeat(3,1fr);
    font-family: 'Courier New', Courier, monospace
}

.gallery > div  svg {
    border-radius: 100% !important;
    box-shadow: 5px 5px 5px rgba(77, 53, 33, 0.55) !important;
}

.gallery > div {
    box-sizing: border-box !important;
    transition: box-shadow 0.3s ease !important;
}

.gallery > div:hover {
    box-shadow: 0px 2px 20px -10px rgb(77,55,33);
}


.category{
    display: grid;
    align-items:center;
    grid-column: 1/span 3;
    height:60px;
    font-family: var(--f);
    width:100%;
    font-size:2.5em;
    text-align:center;
    color:white;
    text-shadow: 1px 1px black;
    margin:0 auto;
    max-width:760px;
    margin-bottom:40px;
    border-radius:30px 30px 2px 2px;
}

#category_0 {
    background: radial-gradient(at top, white, rgb(100,130,150));
    border:1px solid rgb(100,130,150);
}

#category_1 {
    background: radial-gradient(at top, white, rgb(61,97,50));
    border:1px solid rgb(61,97,50);
}

#category_2 {
    background: radial-gradient(at top, white, rgb(112,73,67));
    border:1px solid rgb(112,73,67);
}

#category_3 {
    background: radial-gradient(at top, white, rgb(255,100,50));
    border:1px solid rgb(255,100,50);
    color: black;
    text-shadow: none;
}

/* showcase modal */

.showcase {
    z-index:101;
    display: none;
    position: fixed;
    margin: 0 auto;
    height: 100%;
    max-height:500px;
    width:600px;
    background: white;
    border-radius:3px;
    box-shadow: 0px 0px 20px -5px grey;
    top:110px;
    left:50%;
    transform: translateX(-50%);
    opacity:0;
    transition: opacity 0.5s ease;
}

#standard_laptop_container{
    width:100%;
    display: grid;
    justify-items:center;
}

#standard_laptop_container img {
    width:90%;
}

#standard_laptop_sticker_container{
    display:block;
    position: absolute;
    margin-top: 210px;
    margin-left: 350px;
    height:80px;
    width:80px;
    border-radius:100%;
    perspective:300px;
    transform-style:preserve-3d !important;
    transform: rotateY(45deg) rotateX(25deg) !important;
}

svg#temp_svg{
    border-radius:100% !important;
    height:100% !important;
    width:100% !important;
}

#quit_modal{
    height:50px;
    width:50px;
    display:grid;
    align-items:center;
    justify-items:center;
    position: absolute;
    right:-15px;
    top:-15px;
    background: rgb(153, 17, 17);
    border-radius:100%;
    box-shadow: 0 -5px 10px -3px grey;
    transition: background 0.3s ease;
    cursor: pointer;
    border:2px solid white;
}

#quit_modal:hover {
    background: rgb(196, 34, 34);
}

#sticker_name_display {
    position:absolute;
    top:100px;
    width:100%;
    font-family: var(--f);
    font-size:1.5em;
}

#temp_span {
    right:0;
    text-align:right;
}

#buy {
    display: block;
    position: absolute;
    margin-top:215px;
    margin-left:40px;
    width:120px;
    height:70px;
    border-radius:3px;
    font-family: var(--f);
    display:grid;
    align-content:center;
    text-align:center;
    box-shadow: 0 0px 10px -2px grey;
    opacity: 0;
    font-size:1.3em;
    transition: opacity 0.3s ease;
    cursor:pointer;
}

#buy:hover {
    opacity:1 !important;
}



@media screen and (max-width: 800px) {
    .gallery {
        grid-template-columns: repeat(2,1fr);
        grid-gap:60px;
        max-width:500px;
    }
    .category{
        max-width:460px;
    }
}

@media screen and (max-width: 500px) {

    .main {
        margin-top: 150px;
    }

    .gallery {
        grid-template-columns: repeat(1,1fr);
    }

    .gallery > div {
        height:250px !important;
        width:250px !important;
    }

    .gallery > div svg {
        height:200px !important;
        width:200px !important;
    }

    .gallery > div span {
        text-align:right !important;
    }

    #start_animation {
        height:300px;
        width:300px;
    }
    
    span.start_animation_title {
        bottom: -130px;
        font-size:5em;
    }

    .category {
        max-width: 250px;
        font-size:2em;
        margin-bottom:50px;
    }

    .showcase {
        width:90%;
        height:350px;
    }

    #standard_laptop_sticker_container{
        margin-top:160px;
        margin-left:260px;
        height:60px;
        width:60px;
    }

}

@media screen and (max-width: 450px) {
    #standard_laptop_sticker_container{
        margin-top:140px;
        margin-left:230px;
        height:55px;
        width:55px;
    }

    #sticker_name_display {
        font-size:1em;
        top:80px;
    }

    .showcase {
        height:350px;
    }
}

@media screen and (max-width: 415px) {
    #standard_laptop_sticker_container{
        margin-top:125px;
        margin-left: 205px;
    }
    .showcase {
        height:400px;
    }
    #buy{
        margin-left:50%;
        transform:translate(-50%);
        margin-top:290px;
    }
}

@media screen and (max-width: 375px) {
    #standard_laptop_sticker_container{
        margin-top:115px;
        margin-left: 190px;
    }
    .showcase{
        height:380px;
    }
    #buy{
        margin-left:50%;
        transform:translate(-50%);
        margin-top:270px;
    }

}
    

@media screen and (max-width: 320px) {
    #standard_laptop_sticker_container{
        margin-top:95px;
        margin-left:160px;
        height:50px;
        width:50px;
    }
    .showcase{
        height:340px;
    }
    #buy{
        margin-top:230px;
    }
}

@media screen and (max-width: 280px) {
    #standard_laptop_sticker_container{
        margin-top:80px;
        margin-left:140px;
        height:50px;
        width:50px;
    }
}