body{
    background: rgb(20, 20, 20);
}

:root{
    --green: rgb(78, 122, 52);
    --FT: 'Poiret One', cursive;
} 

a{
    color:inherit;
    text-decoration:none;
}

header{ 
    display: grid;
    align-items:center;
    justify-items:center;
    position: fixed;
    top: 0;
    left:0;
    width:100vw;
    background: white;
    line-height:50px;
    border-radius:0 0 100% 100%;
    height:50px;
    margin: 0 auto;
    text-align:center;
    font-family: var(--FT);
    color:rgb(88, 88, 88);
    box-sizing: border-box;
    font-size:1.3em;
    font-weight:bold;
    padding-bottom: 50px;
    z-index:100;
}

span.tit{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-align:center;
    width:400px;
    display: inline-block;
    font-size:2em;
    text-shadow: 0 1px 1px black;
}

span.a{
    color: var(--green);
}

span.b{
    color: cornflowerblue;
}

span.c{
    color: tomato;
}

span.d{
    color: gold;
}

span.a,
span.b,
span.c,
span.d{
    font-weight:bold;
}

.sources{
    width:400px;
    margin:0 auto;
    font-family: var(--FT);
    color: white;
    box-sizing: border-box;
    padding: 10px;
    text-align:center;
    transition: color 0.3s ease, background 0.3s ease;
}

.sources:hover{
    color: cornflowerblue;
    background: rgb(37, 37, 37);
}

#output_area{
    width:400px;
    height: 600px;
    border-radius:0 0 3px 3px;
    box-sizing: border-box;
    background: black;
    border-left:1px solid grey;
    border-right: 1px solid grey;
    border-bottom:1px solid grey;
    fill:none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width:10px;
    padding:20px;
    stroke:white;
}

#svg_preview{
    position: fixed;
    left: 50%;
    top:50%;
    transform: translate(-50%,-80%);
    border-radius:100%;
    stroke-width:12px;
    stroke: green;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill:none;
    background: transparent;
    height:100px;
    width:100px;
    display: none;
    background:radial-gradient(black, rgb(0, 34, 0));
    border:1px solid rgb(0, 68, 0);
}

.svg_container{
    width:100%;
    max-height:800px;
    display: grid;
    align-items:center;
    justify-items:center;
}

p.page_name{
    width:100%;
    text-align:center;
    font-family: 'Courier New', Courier, monospace;
    font-size:1.5em;
    color: white;
    box-sizing: border-box;
    padding-top:20px;
    margin-top:60px;
}

p.bs{
    width:400px;
    margin:0 auto;
    color: white;
    text-align:center;
    margin-bottom:30px;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    color: grey;
    font-size:0.8em;
}

.view,
.clavier{
    transform: translate(-50%);
    left: 50%;
    box-sizing: border-box;
    padding:5px;
    border-radius:5px;
    box-shadow: 0 -5px 10px black;
    position: fixed;
    width:100vw;
    max-width:400px;
    display: grid;
    align-items:center;
    justify-items:center;
    z-index:1;
}

.view{
    height:40px;
    background: radial-gradient(white, black);
    font-family: 'Courier New', Courier, monospace;
    text-align:center;
    font-size:1.5em;
    bottom: 210px;
    font-weight: bold;
    border-radius:30px;
    border-right: 1px solid white;
    border-left: 1px solid white;
    padding-bottom:5px;
}

.clavier{
    height:200px; 
    bottom:0;
    background: radial-gradient(at top left, rgb(110, 110, 110), black);
}

.line{
    width:100%;
    display: grid;
    height:35px;
}

#line_numbers{
    grid-template-columns: repeat(13, 1fr);
    grid-gap: 2px;
}

#controls{
    grid-template-columns: repeat(11, 1fr);
    grid-gap: 2px;
}

#line_ap,
#line_qm,
#line_wn{
    grid-template-columns: repeat(10,1fr);
    grid-gap:5px;
}


.key,
#ok,
#space,
#erase,
#right,
#left,
#up,
#down{
    width:100%;
    height:100%;
    background: radial-gradient(at top left, rgb(46, 46, 46), black);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    box-sizing: border-box;
    padding: 3px;
    border-radius:2px 2px 5px 5px;
    border-bottom: 1px solid grey;
    border-right: 1px solid grey;
    cursor: pointer;
    opacity: 0.75;
    transition: opacity 0.3s ease, border 0.3s ease, color 0.3s ease;
    box-shadow: 0 -2px 3px black;
}

.key:hover,
#ok:hover,
#space:hover,
#erase:hover,
#right:hover,
#left:hover,
#up:hover,
#down:hover{
    opacity: 1;
    border-right: 1px solid green;
    border-bottom: 1px solid green;
    color: green;
}

#under{
    background: radial-gradient(at top left, white, grey);
    color: black;
    font-weight: bold;
}

#space{
    grid-column: 4/span 5;
    display: grid;
    align-items:center;
    justify-items:center;
    color:black;
}

#erase{
    background: radial-gradient(at top left, rgb(253, 150, 53), rgb(94, 0, 0));
}

#ok{
    background: radial-gradient(at top left, rgb(176, 253, 53), rgb(2, 49, 12));
}

#erase_all{
    display: grid;
    align-items:center;
    justify-items:center;
    font-family: Arial, Helvetica, sans-serif;
    width:150px;
    height:50px;
    border-radius:3px;
    margin-left: 50%;
    transform: translate(-50%);
    box-sizing: border-box;
    padding:10px;
    margin-bottom:5px;
    background: radial-gradient(at top left, red, darkred);
    color: white;
    opacity: 0.75;
    transition: oapcity 0.5s ease;
    box-shadow: 0 2px 3px black;
    cursor: pointer;
}

#erase_all:hover{
    opacity: 1;
}

#translator{
    margin: 0 auto;
    width:400px;
    background: white;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 0 0 30px 30px;
    background: black;
    border:1px solid grey;
    color: grey;
    font-size:0.8em;
}

span.phono{
    color: white;
    font-weight: bold;
}

span.word_separator{
    color:rgb(56, 56, 56);
}

span.line_separator{
    color: white;
}

span.line_separator_plus{
    color: greenyellow;
}

span.back_jump{
    color: tomato;
}

.circle{
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background: transparent;
    width:200px;
    height:200px;
    text-align:center;
    display: none;
}

.circle > span {
    display: block;
    color: rgb(102, 158, 17);
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
}

#circle_0{
    top: 10px;
    left: 60px;
    transform: rotate(-40deg);
}

#circle_1{
    top:0.3em;
    left:70px;
    transform: rotate(-28deg);
}

#circle_2{
    top:1px;
    left:82px;
    transform: rotate(-10deg);
}

#circle_3{
    top:0px;
    left:94px;
    transform: rotate(0deg);
}

#circle_4{
    top:1px;
    left:106px;
    transform: rotate(11deg);
}

#circle_5{
    top:0.25em;
    left: 118px;
    transform: rotate(28deg);
}

#circle_6{
    top:10px;
    left:128px;
    transform: rotate(38deg);
}

#light{
    height:40px;
    width:40px;
    background: white;
    border-radius:100%;
    position: absolute;
    top:-50px;
    left:0;
    display: grid;
    align-items:center;
    justify-items:center;
    font-size:0em;
    line-height:43px;
    text-align:center;
    color: transparent;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.3s ease, box-shadow 0.1s ease;
    box-sizing: border-box;
    border:2px solid white;
}

#light:hover{
    opacity: 1;
    box-shadow: 0 0 10px 3px black;
}

#left_counter,
#up_counter,
#down_counter,
#right_counter{
    display: none;
    border-radius:100%;
    width:15px;
    height:15px;
    box-sizing: border-box;
    align-items:center;
    justify-items:center;
    background: rgb(139, 0, 0);
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size:0.6em;
    position: fixed;
    bottom: 30px;
    border:1px solid rgb(182, 91, 91);
    box-shadow: 0 5px 2px black;
}

#left_counter{
    left: 62px;
}

#down_counter{
    right: 75px;
}

#up_counter{
    left: 98px;
}

#right_counter{
    right: 36px;
}

.prev_text{
    fill: white;
    stroke:white;
    stroke-width: 2px;
    font-family: 'Courier New', Courier, monospace;
    animation-fill-mode:forwards;
    animation-name: combo;
    animation-duration: 0.2s;
}

@keyframes combo{
    0%{
        transform: rotate(-100deg);
        opacity:0;
        font-size: 0px;
        stroke:yellowgreen;
    }
    100%{
        transform: rotate(360deg);
        opacity: 1;
        font-size:50px;
        stroke:cornflowerblue;
    }
}

#g_cursor{
    r: 66;
    stroke: white;
    stroke-width:10;
    fill:red;
    animation-name: cursor_life;
    animation: cursor_life 0.6s infinite;
    transition: opacity 0.6s ease;
}

@keyframes cursor_life{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity:0;
    }
}

#dummy{
    display:none;
}

#link_caption{
    margin:0 auto;
    width:400px;
    box-sizing: border-box;
    color:white;
    font-family: var(--FT);
    text-align: center; 
    height:60px;
    margin-top:30px;
}

.links{
    margin: 0 auto;
    width:400px;
    display: grid;
    box-sizing: border-box;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    background: transparent;
    height:120px;
    margin-bottom:400px;
}

.links > div {
    height: 100%;
    width:100%;;
    display: grid;
    align-items:center;
    justify-items:center;
    border:1px solid white;
    border-radius:100%;
    font-family: var(--FT);
    cursor: pointer;
    opacity: 0.75;
    transition: opacity 0.3s ease;
    font-size:2em;
    font-weight:bold;
}

span.rotated{
    font-size:0.5em;
    transform: rotate(-10deg);
    margin-bottom:-30px;
}

.links > div:hover{
    opacity: 1;
}

#link0{
    background: radial-gradient(gold, rgb(255, 153, 0));
}

#link1{
    background: radial-gradient(rgb(255, 231, 94), gold);
}

#link2{
    background: radial-gradient(white, rgb(202, 202, 202));
    font-size:1.2em;
}

#canvas{
    display:none;
}

.imgout{
    display: block;
    margin: 0 auto;
    border-radius:2px;
    height:800px;
    width:400px;
}

#btn{
    display: block;
    margin: 0 auto;
    box-sizing: border-box;
    padding:5px;
    font-family: var(--FT);
    font-size:1.5em;
    border-radius:2px;
    background: white;
    width:150px;
    margin-top:20px;
    margin-bottom:20px;
    cursor: pointer;
    opacity:0.75;
    transition: opacity 0.3s ease;
}

#btn:hover{
    opacity:1;
}

.color_pick{
    display: grid;
    margin:0 auto;
    width:400px;
    grid-template-columns: repeat(3,1fr);
    grid-gap:10px;
    box-sizing: border-box;
    padding:10px;
    height:30px;
    margin-bottom:20px;
}

.color_pick > div {
    display: grid;
    height:30px;
    width:100%;
    align-items:center;
    justify-items:center;
    color:white;
    cursor: pointer;
    border-radius:3px;
    opacity:0.5;
    transition: opacity 0.3s ease, box-shadow 0.3s ease;
    font-family: 'Courier New', Courier, monospace;
}

.color_pick > div:hover {
    opacity:1;
    box-shadow: 0 0 10px white;
}

#btn_R{
    border:1px solid red;
}

#btn_G{
    border:1px solid rgb(0,255,0);
}

#btn_B{
    border: 1px solid rgb(0,0,255);
}