.mainHeader{
    background: transparent;
    height:70px;
    width:100vw;
    z-index:10;
}

.siteTitle{
    height:100%;
    display: grid;
    align-items:center;
    box-sizing: border-box;
    padding-left:20px;
    text-align:left;
    width:100%;
    font-family: 'Megrim', cursive;
    text-shadow: 0 2px 1px var(--blue0);
    font-size:1em;
    color: var(--blue4);
    opacity:0.75;
    z-index:3;
}

.siteTitle span {
    font-weight: bold;
    font-size: 2em;
    color: white;
}

.siteTitleShift{
    height:100%;
    display: grid;
    align-items:center;
    justify-items:center;
    box-sizing: border-box;
    padding-left:20px;
    text-align:left;
    width:100%;
    font-family: 'Megrim', cursive;
    font-size:1em;
    color: var(--blue0);
}

.quitGlyphSearch {
    position: absolute;
    display:grid;
    right:-15px;
    top:-15px;
    opacity:0.8;
    transition: opacity 0.3s ease;
    border-radius:100%;
    cursor: pointer;
    box-shadow: 0 5px 10px -5px rgba(19,55,104,.75);
}

.quitGlyphSearch:hover{
    opacity:1;
}

button.btnSearchShape {
    z-index:1;
    position: fixed;
    right:15px;
    top:70px;
    height:50px;
    width:50px;
    border:none;
    border-radius:100%;
    font-size:0.6em;
    text-align:center;
    cursor: pointer;
    box-shadow: 0 5px 10px -5px rgba(19,55,104,.75);
    background: radial-gradient(at top, white, tomato);
    font-family: 'Inter', cursive;
    font-weight:bold;
}

button.btnSearchShape:hover {
    animation: wobble 0.3s ease-in-out;
}

@keyframes wobble {
    0%{
        tranform: rotate(-5deg);
    }
    33%{
        transform: rotate(5deg);
    }
    66%{
        transform: rotate(-3deg);
    }
    100%{
        transform: rotate(0deg);
    }
}


@media (max-width:500px) {
    .siteTitle{
        display:none;
    }
}

@media (max-width: 360px) {

}