body{
    background: rgb(20, 20, 20);
}

:root{
    --green: rgb(78, 122, 52);
    --FT: 'Poiret One', cursive;
} 

header{ 
    display: grid;
    align-items:center;
    justify-items:center;
    position: fixed;
    top: 0;
    left:0;
    width:100vw;
    background: white;
    line-height:50px;
    border-radius:0 0 100% 100%;
    height:50px;
    margin: 0 auto;
    text-align:center;
    font-family: var(--FT);
    color:rgb(88, 88, 88);
    box-sizing: border-box;
    font-size:1.3em;
    font-weight:bold;
    padding-bottom: 50px;
    z-index:100;
}

span.a{
    color: var(--green);
}

span.b{
    color: cornflowerblue;
}

span.c{
    color: tomato;
}

span.d{
    color: gold;
}

span.a,
span.b,
span.c,
span.d{
    font-weight:bold;
} 

span.larg{
    display:inline-block;
    color: cornflowerblue;
    font-family: 'Courier New', Courier, monospace;
    font-size:0.75em;
    text-align:center;
    width:100%;
}

.svg_container{
    position: fixed;
    width:90%;
    top: 70px;
    max-height:500px;
    display: grid;
    align-items:center;
    justify-items:center;
    left:50%;
    transform: translate(-50%);
    overflow: auto;
    border-bottom:1px solid rgb(27, 43, 18);
    background: linear-gradient(to top, black, transparent, transparent);

}

.svg_container::-webkit-scrollbar{
    width:0;
    background: transparent;
}

.controls{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 5px;
    width:100%;
    max-width:400px;
    position: fixed;
    bottom:0;
    right:0;
    align-items:center;
    justify-items:center;
    box-sizing: border-box;
    padding:10px;
    left:50%;
    transform: translate(-50%);
}

.input_text{
    grid-column: 1/span 6;
    background:black;
    color: rgb(136, 207, 70);
    width:100%;
    height:30px;
    resize: none;
    overflow: auto;
    height:100px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    box-sizing: border-box;
    padding:30px;
    border-radius:3px;
    font-size:1.6em;
    border:none;
    overflow: hidden;
}

.input_text::placeholder{
    color: rgb(78, 122, 52);
    font-size: 0.5em;
}

.input_text::selection{
    color:tomato;
}

.btn{
    height:30px;
    display: grid;
    grid-column: 6;
    align-items:center;
    justify-items:center;
    width:100%;
    background: rgb(36, 15, 15);
    color: rgb(122, 52, 52);
    box-sizing: border-box;
    padding:10px;
    border-radius:3px;
    font-family: 'Courier New', Courier, monospace;
    line-height:10px;
    transition: background 0.3s ease, border 0.3s ease, box-shadow 0.3s ease;
    border:1px solid rgb(122,52,52);
    cursor: pointer;
}

.btn:hover{
    background: rgb(119, 52, 52);
    color: rgb(207, 171, 147);
    border:1px solid rgb(207, 171, 147);
    box-shadow: 0 5px 20px 10px black;
}


.test{
    fill:none;
    stroke:white;
    /* stroke-width: 20px; */
    stroke-linecap: round;
    stroke-linejoin: round;
}

#output_area{
    border:1px solid rgb(92, 91, 91);
    border-radius:30px;
    background: black;
}

#help{
    grid-column:1;
    width:100%;
    background: rgb(143, 124, 42);
    color: rgb(223, 221, 154);
    border:1px solid rgb(223, 221, 154);
}

#help:hover{
    background: yellow;
    color: tomato;
}

#jump_indicator{
    height:50px;
    width:50px;
    background: white;
    display: grid;
    align-items:center;
    justify-items:center;
    font-weight:bold;
    position: fixed;
    bottom:100px;
    border-radius:100%;
    left:50%;
    transform: translateX(-50%);
    font-family: 'Courier New', Courier, monospace;
    font-size:0.7em;
    background: radial-gradient(at top left,gold,tomato);
    border-right:1px solid grey;
    opacity:0;
    transition: opacity 0.3s ease, bottom 0.3s ease;
    text-align:center;
    box-shadow: 0 5px 20px 10px black;
}

#help_modal{
    display: none;
    align-items:center;
    justify-items:center;
    position: fixed;
    height:100vh;
    width:100vw;
    left:0;
    background: radial-gradient(at top, white, rgb(255, 217, 0), black);
    opacity:0;
    transition: opacity 1s ease, display 1s ease;
}

#quit_modal{
    height:80px;
    width:80px;
    display: grid;
    position: fixed;
    bottom:40px;
    right:40px;
    background: gold;
    color: black;
    align-items:center;
    justify-items:center;
    font-family: var(--FT);
    font-size:2.7em;
    font-weight:bold;
    border-radius:30px 3px 3px 30px;
    transition: box-shadow 0.3s ease, opacity 0.3s ease;
    opacity: 0.8;
    cursor: pointer;
}

#quit_modal:hover{
    box-shadow: 0 5px 20px 10px black;
    opacity:1;
}

.help_inside_wrapper{
    display: block;
    width:100vw;
    max-width:400px;
    border:1px solid black;
    height:100vh;
    max-height:550px;
    overflow: auto;
    border-radius:10px;
    background: radial-gradient(at bottom, white, gold);
    box-shadow: 0 5px 20px 10px black;
}

.help_inside_wrapper::-webkit-scrollbar{
    width:0;
    background: transparent;
}

#clavier{
    margin:0 auto;
    display: block;
    position: relative;
    height:200px;
    width:200px;
    background: radial-gradient(at top left, grey, black);
    border-radius:3px;
}

.touche{
    position: absolute;
    border-radius:3px 3px 10px 10px;
    box-shadow: 0 3px 3px 3px black;
    color:white;
    font-size:1.3em;
    font-family: Arial, Helvetica, sans-serif;
    height:50px;
    width:50px;
    background: radial-gradient(at top left, black, grey);
    border-bottom:1px solid white;
    box-sizing: border-box;
    padding:5px;
}

.touche2{
    border-radius:3px 3px 10px 10px;
    box-shadow: 0 3px 3px 1px black;
    color:white;
    font-size:1em;
    font-family: Arial, Helvetica, sans-serif;
    height:30px;
    width:30px;
    background: radial-gradient(at top left, black, grey);
    border-bottom:1px solid white;
    box-sizing: border-box;
    padding:5px;
}

span#key_s{
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
span#key_q{
    top:50%;
    left:50%;
    transform:translate(-180%,-50%);
}

span#key_d{
    top:50%;
    left:50%;
    transform:translate(80%,-50%);
}

span#key_z{
    top:50%;
    left:50%;
    transform:translate(-115%,-180%);
}

span#key_e{
    top:50%;
    left:50%;
    transform:translate(15%,-180%);
}

span#key_w{
    top:50%;
    left:50%;
    transform:translate(-115%,80%);
}

span#key_x{
    top:50%;
    left:50%;
    transform:translate(15%,80%);
}

p.pee_help{
    font-family: 'Courier New', Courier, monospace;
    width:100%;
    box-sizing: border-box;
    padding:20px;
    font-size:0.75em;
}

a.tuto{
    display: inline-block;
    margin-left:50%;
    transform: translate(-50%);
    text-align:center;
    text-decoration: none;
    box-sizing: border-box;
    padding:8px;
    border:1px solid black;
    width:230px;
    border-radius:3px;
    background: white;
    transition:  box-shadow 0.3s ease;
    font-size:1.3em;
}

a.tuto:hover{
    box-shadow: 0 -3px 6px black;
}

p.disclaimer{
    color: tomato;
    font-family: 'Courier New', Courier, monospace;
    width:100%;
    text-align:center;
    display: block;
    top:50px;
}

#position_indicator{
    height:100px;
    width:100px;
    box-sizing: border-box;
    display: grid;
    align-items:center;
    justify-items:center;
    position: fixed;
    bottom:10px;
    left:50%;
    transform: translateX(-310%);
    border-radius:3px;
    color:cornflowerblue;
    font-family: 'Courier New', Courier, monospace;
}

.size_manager{
    grid-column: 3;
    width:150px;
    display: grid;
    grid-template-columns: 25px 100px 25px;
    color:white;
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 20px;
    margin:0 auto;
}

.size_manager > div {
    border:1px solid rgb(92, 92, 92);
    box-sizing: border-box;
    padding:5px;
    display: grid;
    align-items:center;
    justify-items:center;
}

#svg_size{
    font-family: 'Courier New', Courier, monospace;
    font-weight:bold;
    color:cornflowerblue;
    background: radial-gradient(at top, rgb(63, 63, 63), black);
}

#size_plus{
    border-radius: 10px 0 0 10px;
    background: radial-gradient(at left, cornflowerblue, rgb(58, 85, 134));
}

#size_plus:hover{
    box-shadow: -3px 0px 3px black;
    border: 1px solid white;
}

#size_minus{
    border-radius: 0 10px 10px 0;
    background: radial-gradient(at right, cornflowerblue,rgb(58, 85, 143));
}

#size_minus:hover{
    box-shadow: 3px 0px 3px black;
    border: 1px solid white;
    transition: box-shadow 0.3s ease, border 0.3s ease;
    cursor: pointer;
}

.size_controller{
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 0 1px 1px black;
    transition: box-shadow 0.3s ease, border 0.3s ease;
    cursor: pointer;
}