body{
    background: rgb(20, 20, 20);
}

:root{
    --green: rgb(78, 122, 52);
    --FT: 'Poiret One', cursive;
}

header{ 
    display: grid;
    align-items:center;
    justify-items:center;
    position: fixed;
    top: 0;
    left:0;
    width:100vw;
    background: white;
    line-height:50px;
    border-radius:0 0 100% 100%;
    height:50px;
    margin: 0 auto;
    text-align:center;
    font-family: var(--FT);
    color:rgb(88, 88, 88);
    box-sizing: border-box;
    font-size:1.3em;
    font-weight:bold;
    padding-bottom: 50px;
    z-index:100;
}

span.a{
    color: var(--green);
}

span.b{
    color: cornflowerblue;
}

span.c{
    color: tomato;
}

span.d{
    color: gold;
}

span.a,
span.b,
span.c,
span.d{
    font-weight:bold;
} 

.svg_container{
    position: fixed;
    width:90%;
    top: 70px;
    max-height:500px;
    display: grid;
    align-items:center;
    justify-items:center;
    border:1px solid grey;
    left:50%;
    transform: translate(-50%);
    overflow: auto;
}

.controls{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap: 5px;
    width:90%;
    position: fixed;
    bottom:0;
    align-items:center;
    justify-items:center;
    box-sizing: border-box;
    padding:10px;
    left:50%;
    transform: translate(-50%);
}

.input_text{
    grid-column: 1/span 6;
    background:white;
    width:100%;
    height:30px;
    resize: none;
    overflow: auto;
    height:100px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    box-sizing: border-box;
    padding:10px;
    border-radius:3px;
}

.input_text::placeholder{
    color: grey;
}

.btn{
    height:30px;
    display: grid;
    align-items:center;
    justify-items:center;
    width:100%;
    background: white;
    box-sizing: border-box;
    padding:10px;
    border-radius:3px;
    font-family: 'Courier New', Courier, monospace;
    line-height:10px;
    transition: background 0.3s ease, border 0.3s ease;
    border:1px solid black;
    cursor: pointer;
}

.btn:hover{
    background: grey;
    border:1px solid white;
}

#btn_validate{
    grid-column: 6;
}

#btn_validate:hover{
    background: rgb(136, 207, 70);
}

.test{
    fill:none;
    stroke:white;
    /* stroke-width: 20px; */
    stroke-linecap: round;
    stroke-linejoin: round;
}