.blog-body{
    display: block;
    margin-left:50%;
    top: 100px;
    transform: translateX(-50%);
    width:100%;
    max-width:500px;
    height:100%;
}
.blog-body::-webkit-scrollbar{
    width:0px;
}

@media (max-width:700px){
    .blog-body{
        transform: none;
        margin-left:20px;
        width: 220px;
    }
}