.galleryScroll{
    display: block;
    position: fixed;
    right:0;
    bottom: 0;
    top:250px;
    height:90%;
    width:100px;
    overflow: auto;
    box-sizing: border-box;
    padding-top:20px;
    padding-bottom:200px;
}
.galleryScroll::-webkit-scrollbar {
    width:0px;
}

.galleryScroll img {
    width:100%;
    box-sizing: border-box;
    padding-left:6px;
    padding-right:6px;
    padding-top:3px;
    padding-bottom:3px;
    cursor: pointer;
    box-shadow: 0 5px 10px -3px rgba(29,55,104,.75);
    opacity: 0.6;
    transition: opacity 0.3s ease;
    animation: picDrop 2s ease-in-out;
}

.galleryScroll img:hover{
    opacity:1;
}

@keyframes picDrop {
    0%{
        margin-top:-100px;
        opacity:0;
    }
    100%{
        margin-top:0px;
        opacity:0.6;
    }
}

.galleryShow{
    display: grid;
    align-content:center;
    margin-top:145px;
    box-sizing: border-box;
    width:70%;
    margin-left:50%;
    transform: translateX(-60%);
}

.galleryShow img {
    width:100%;
    transition: all 0.3s ease;
    border-radius:3px;
    box-shadow: 10px 20px 40px -12px rgba(29,55,104,.75);
    animation: picShowArise 0.5s ease-in;
}

.paintingTitle{
    display: block;
    position: fixed;
    top:100px;
    left:20px;
    width:200px;
    height:50px;
    box-sizing: border-box;
    padding: 0px;
    text-align:center;
    font-family: 'Megrim', cursive;
    font-size:1.3em;
    font-weight:bold;
    color: rgb(7, 7, 56);
    border-top:1px solid white;
    animation: titleAppear 2s;
}

.paintingTitle p{
    margin-top: 0px;
    color: var(--blue4);
    text-shadow: 1px 1px var(--blue0);
}

.paintingTitle span {
    display:block;
    font-family: 'Roboto', sans-serif;
    font-size:0.75em;
    font-weight:initial;
    opacity: 0.75;
    box-sizing: border-box;
    padding-top:10px;
    padding-bottom:10px;
    margin-top: -50px;
    color: var(--blue4);
    text-shadow: 1px 1px var(--blue0);
}

button.btnWallSwitch {
    position: fixed;
    display: grid;
    grid-template-columns: repeat(2,auto);
    align-items:center;
    justify-items:center;
    top:150px;
    left:50%;
    transform: translateX(-50%);
    cursor: pointer;
    border:none;
    min-height:30px;
    border-radius:3px;
    box-shadow: 0 5px 10px -5px rgba(29,55,104,.75);
    background: radial-gradient(at left, white, var(--blue3), var(--blue2), var(--blue1), var(--blue0));
    color: var(--blue0);
    font-weight:bold;
    font-family: 'Roboto', cursive;
    transition: all 0.3s ease;
    text-align:left;
    grid-gap:0px;
    width:150px;
    z-index:10;
    border:1px solid white;
}

button.btnWallSwitch:hover{
    filter: sepia(100%);
}

.btnWallSwitchIcon{
    margin-left:-10px;
    height:30px;
}

.galleryWall {
    width:90%;
    margin:0 auto;
    box-sizing: border-box;
    padding:20px;
    border-radius:3px;
    perspective: 1200px;
    height:90vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:40px;
}

.leftWall,
.rightWall{
    background: grey;
    height:80%;
    width:100%;
    transform-style: preserve-3d;
    background: radial-gradient(at top, white, rgb(173, 169, 160));
    display: grid;
    align-items:center;
    justify-items:center;
}

.leftWall{
    transform: rotateY(30deg);
    box-shadow: 0px 10px 40px white;
}

.rightWall{
    transform: rotateY(-30deg);
    box-shadow: 10px 0px 40px white;
}

.leftWall img,
.rightWall img {
    max-width:50%;
    max-height:50%;
    box-shadow: 0 25px 50px -25px black;
    animation: walls 0.5s ease-in-out;
}

@keyframes walls {
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}

.leftWall img {
    border-left: 7px solid rgb(39, 39, 39);
    border-radius:10px 0 0 10px;
}

.rightWall img {
    border-right: 7px solid rgb(39,39,39);
    border-radius: 0 10px 10px 0;
}

button.btnNextPainting{
    position: fixed;
    display: grid;
    grid-template-columns: repeat(2,auto);
    align-items:center;
    justify-items:center;
    bottom: 10px;
    left:50%;
    transform: translateX(-50%);
    cursor: pointer;
    border:none;
    min-height:30px;
    box-sizing: border-box;
    padding-left:30px;
    padding-right:30px;
    border-radius:3px;
    box-shadow: 0 5px 10px -5px rgba(29,55,104,.75);
    background: radial-gradient(at left, white, tomato);
    color: var(--blue0);
    font-family: 'Roboto', cursive;
    transition: all 0.3s ease;
    text-align:left;
    grid-gap:0px;
    width:200px;
    z-index:10;
    border:1px solid white;
    font-weight:bold;
}

button.btnNextPainting:hover{
    filter: sepia(100%);
}

@keyframes titleAppear {
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}

@keyframes picShowArise{
    0%{
        opacity:0.65;
        transform: scaleY(0.97) scaleX(0.97);
    }
    100%{
        opacity:1;
        transform: scaleY(1) scaleX(1);

    }
}

@media screen and (max-width: 950px) {
    .galleryShow {
        justify-items:center;
        width:70%;
        margin-left:20px;
        transform: translateX(0%);
    }
    .paintingTitle span {
        font-size: 0.5em;
    }
    button.btnWallSwitch{
        bottom:10px;
        top:initial;
        height:40px;
    }

    button.btnNextPainting{
        bottom:60px;
    }

}

@media (max-width:800px){
    .galleryWall{
        display: block;
    }
    .rightWall{
        display:none;
    }
}

@media (max-width:600px){
    .galleryScroll{
        width:60px;
        right: 10px;
        padding-bottom:200px;
    }
    .leftWall{
        margin-top:-100px;
    }
}

