body{
    background: rgb(20, 20, 20);
}

:root{
    --green: rgb(78, 122, 52);
    --FT: 'Poiret One', cursive;
}

header{
    display: grid;
    align-items:center;
    justify-items:center;
    position: fixed;
    top: 0;
    left:0;
    width:100vw;
    background: white;
    line-height:50px;
    border-radius:0 0 100% 100%;
    height:50px;
    margin: 0 auto;
    text-align:center;
    font-family: var(--FT);
    color:rgb(88, 88, 88);
    box-sizing: border-box;
    font-size:1.3em;
    font-weight:bold;
    padding-bottom: 50px;
    z-index:100;
}


p{
    margin: 0 auto;
    margin-top:100px;
    width:400px;
    font-family: var(--FT);
    font-size:1.1em;
    color: rgb(117, 117, 117);
    font-weight:bold;
}

a{
    text-decoration: none;
    color: cornflowerblue;
    transition: color 0.3s ease;
}

a:hover{
    color: tomato;
}

#writing_area{
    width:100%;
    color:gold;
    word-wrap: break-word;
    border:1px solid cornflowerblue;
    box-sizing: border-box;
    padding:15px;
    resize:none;
    font-size:1.8em;
    height:2.8em;
    font-weight:bold;
    box-shadow: 0 0px 10px 1px cornflowerblue inset;
    border-radius: 2px;
    background: rgb(25, 25, 25);
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;
}

#writing_area::placeholder{
    color:rgb(92, 90, 90);
    font-size:0.4em;
}

#output_area{
    width:400px;
    height: 600px;
    border-radius:0 0 3px 3px;
    box-sizing: border-box;
    background: black;
    border-left:1px solid grey;
    border-right: 1px solid grey;
    border-bottom:1px solid grey;
    fill:none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width:10px;
    padding:20px;
}

svg.mem{
    stroke:black;
    fill:none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: black;
    stroke-width:4px;
}

.svg_container{
    width:100%;
    max-height:800px;
    display: grid;
    align-items:center;
    justify-items:center;

}

.controls{
    margin:0 auto;
    max-width:400px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items:center;
    justify-items:center;
    margin-top: 20px;
}

.inputs{
    position: fixed;
    bottom: 0;
    margin-left:50%;
    transform: translateX(-52%);
    width:400px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

#clean{
    height:100%;
    background: radial-gradient(at top left, rgb(253, 241, 170), gold);
    cursor: pointer;
    opacity: 0.8;
    transition: color 0.3s ease, opacity 0.3s ease;
    width:100%;
    font-family: var(--FT);
    font-size:2em;
    color: blue;
}

#clean:hover{
    opacity:1;
    color:tomato;
}

span.a{
    color: var(--green);
}

span.b{
    color: cornflowerblue;
}

span.c{
    color: tomato;
}

span.d{
    color: gold;
}

span.a,
span.b,
span.c,
span.d{
    font-weight:bold;
}

#trad{
    box-sizing: border-box;
    padding:10px;
    max-width:400px;
    margin:0 auto;
    min-height:100px;
    background: grey;
    border-radius:2px;
    font-size:0.8em;
    font-family: 'Courier New', Courier, monospace;
    background: rgb(20,20,20);
    color:grey;
}

.touch_controls{
    position: fixed;
    bottom:10px;
    width:100%;
    margin-left:50%;
    transform: translateX(-50%);
    max-width:200px;
    display: grid;
    grid-template-rows: repeat(2,50px);
}

.tcc {
    width:100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items:center;
    justify-items:center;
    grid-gap: 6px;
}

.tcc > div {
    height:50px;
    width:100%;
    border-radius:3px;
    display: grid;
    align-items:center;
    justify-items:center;
    font-family: var(--FT);
    font-size:2em;
    background: radial-gradient(at top left, rgb(92, 92, 92), rgb(36, 36, 36));
    box-shadow: 0 5px 5px black;
    color: white;
    cursor: pointer;
}

.tcc > div:hover{
    box-shadow: 0 7px 5px black;
    background: radial-gradient(at bottom right, rgb(92, 92, 92), rgb(36, 36, 36));
}

#enter{
    grid-column: 1/span 3;
    width: 100%;
}


.toggle_color{
    grid-column: 1 /span 2;
    width:100%;
    display: grid;
    grid-template-columns: repeat(6,1fr);
}

#toggle,
#info{
    height: 50px;
    width: 50px;
    box-sizing: border-box;
    margin-bottom:10px;
    border-radius:3px;
    opacity:0.6;
    transition: opacity 0.5s ease, border-radius 0.5s ease, font-size 0.5s ease;
    cursor: pointer;
    display: grid;
    align-items:center;
    justify-items:center;
}

#toggle{
    background: white;
    color: transparent;
}

#info{
    background: radial-gradient(at top left, rgb(255, 135, 87), tomato);
    color: gold;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    opacity: 0.6;
}

#info:hover{
    opacity: 1;
    font-size: 2em;
    text-shadow: 0 1px 1px black;
}

#toggle:hover{
    opacity: 1;
    border-radius:100%;
}

#window_content{
    display: black;
    position: relative;
    box-sizing: border-box;
    padding: 10px;
    width:100%;
    font-family: 'Courier New', Courier, monospace;
    font-size:1em;
}

.window_info{
    display:block;
    position: fixed;
    height:100%;
    width:100%;
    max-width:400px;
    max-height:100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: radial-gradient(at top left, rgb(245, 220, 211), rgb(199, 163, 156));
    z-index:1;
    box-shadow: 0 0px 40px -5px black;
    border-radius:2px 30px 2px 2px;
    z-index:200;
    overflow: auto;
}

span.courier{
    font-family: 'Courier New', Courier, monospace;
    font-size:1.6em;
    margin-left:7px;
    color: tomato;
    font-weight: bold;
}

span.info_btn{
    border-radius:3px;
    background: radial-gradient(at top left, grey, black);
    border-top: 1px solid white;
    border-left: 1px solid white;
    color: white;
    box-sizing: border-box;
    padding:5px;
    height:50px;
    width:50px;
    display: grid;
    align-items:center;
    justify-items:center;
    font-size:1.8em;
    font-weight:bold;
}

#window_x{
    display: grid;
    align-items:center;
    justify-items:center;
    position: absolute;
    right:0;
    margin-bottom:0;
    border-radius:2px;
    height:50px;
    width:50px;
    background: gold;
    z-index:2;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    font-size:3em;
    font-weight: bold;
    color: rgb(252, 142, 122);
    transition: box-shadow 0.3s ease, text-shadow 0.3s ease;
}

#window_x:hover{
    text-shadow: -1px -1px 1px black;
    box-shadow: -3px -3px 10px 1px black;
}

.color_select{
    height:50px;
    width:50px;
    resize:none;
    display: grid;
    align-items:center;
    justify-items:center;
    box-sizing: border-box;
    padding-top:15px;
    text-align:center;
    border-radius:100%;
    font-family: 'Courier New', Courier, monospace;
    font-weight:bold;
    background: black;
    cursor: pointer;
}

#R{
    color: rgb(255,0,0);
    border:1px solid rgb(255,0,0);
}

#G{
    color: rgb(0,255,0);
    border:1px solid rgb(0,255,0);
}

#B{
    color: rgb(0,0,255);
    border:1px solid rgb(0,0,255);
}

#color_result{
    height:50px;
    width:50px;
    box-sizing: border-box;
    border:1px solid grey;
    border-radius: 100%;
}

#cut_indicator{
    grid-column: 1 / span 2;
    width:100%;
    text-align:center;
    background: black;
    color:white;
    height:30px;
    max-width:400px;
    margin:0 auto;
    border-radius: 30px 30px 0 0;
    display: grid;
    align-items:center;
    justify-items:center;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
    border-top:1px solid grey;
}

.end{
    margin-top:200px;
}

@media screen and (min-width:600px){

}

