.graphierosOn{
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 400px;
    width:400px;
    border-radius:100%;
    background:radial-gradient(white,transparent, transparent);
}

.graphierosOn div > svg{
    width:100%;
    height:100%;
    position: absolute;
    margin-left: 50%;
    margin-top:50%;
    animation: spinGraphieros 1s cubic-bezier(.8, 0, .1, 1);
    animation-duration: 0.5s;
    transform:translate(-50%,-50%);
    transform-origin: center center;
    filter: drop-shadow(rgba(199, 61, 7, 0.35) 0px 20px 10px) !important;
}

@keyframes spinGraphieros{
    0% {
        opacity:0;
        height:90%;
        width:90%;
    }
    100% {
        opacity:1;
        height:100%;
        width:100%;
    }
}

.graphierosOff{
    display: none;
}

@media screen and (max-width: 415px) {
    .graphierosOn{
        height: 300px;
        width:300px;
        transform: translate(-50%,-50%);
    }
}

@media screen and (max-width: 320px) {
    .graphierosOn{
        height: 260px;
        width:260px;
        transform: translate(-50%,-50%);
    }
}    