.landingPage{
    display: grid;
    height:100vh;
    width:100vw;
    grid-template-columns: 61.8vw auto;
    background: radial-gradient(at top, white, transparent);
}

.landingLeft{
    display: block;
    position: relative;
    background: radial-gradient(at top left, rgb(var(--blue0)), rgb(var(--blue1)), rgb(var(--blue2)), rgb(var(--blue3)));
}

.landingLeftLogoWrapper{
    display: block;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(30%,-50%);
    transition: all 0.25s ease-in-out;
}

p.motto{
    color: white;
    font-family: var(--inter);
    margin-top: -20px;
    padding-left:2px;
}

.landingRight{
    height:100%;
    width:100%;
    display: grid;
    align-items:center;
    justify-items:center;
}

@media (max-width: 750px) {
    .landingLeftLogoWrapper{
        transform: translate(-80%,-50%);
    }
    .landingPage{
        display: block;
        height:61.8vh;
        width:100%;
    }
    .landingLeft{
        width:100%;
        height:100%;
    }
    .landingRight{
        width:100%;
        height:38.2vh;
    }
}