:root{
  --think: 'Righteous', cursive;
  --elite: 'Special Elite', cursive;
  --inter: 'Inter', sans-serif;
  --blue0: 29,55,104;
  --blue1: 75,106,160;
  --blue2: 122,161,216;
  --blue3: 211,227,252;
}