.mainMenu{
    position:fixed;
    right:15px;
    top:8px;
    border-radius:100%;
    box-shadow: 0 5px 10px -5px rgba(19,55,104,.75);
} 

.fractalMenu {
    width:50px;
    height:50px;
    display:flex;
    cursor: pointer;
    border-radius:100%;
    box-shadow: 0 10px 20px -10px rgba(0,0,100,.35);
}

.fractalMenu:hover{
    animation: fractalMenu 0.3s ease-in-out;
}

.blogLink{
    display:grid;
    align-items:center;
    justify-items:center;
    position: absolute;
    top:50%;
    left:50%;
    height:50px;
    width:50px;
    transform: translate(-50%,-50%);
    background: radial-gradient(at bottom right, var(--blue2), var(--blue3));
    z-index: 20000;
    border-radius:3px;
    box-shadow: 0 0 30px black;
    color: var(--blue0);
}

@keyframes fractalMenu {
    0%{
        transform: rotate(0deg);
    }
    33%{
        transform: rotate(-5deg);
    }
    66%{
        transform: rotate(5deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
