:root{
    --t0: rgb(255, 176, 162);
    --t : tomato;
    --t1: rgb(180, 67, 48);
    --c0: rgb(201, 212, 235);
    --c : cornflowerBlue;
    --c1: rgb(59, 103, 184);
    --g0: rgb(255, 244, 184);
    --g : gold;
    --g1: rgb(168, 143, 0);
    --gText : rgb(68, 60, 15);
}

/*MENU*/

.menuInitial{
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 400px;
    width:400px;
    border-radius:100%;
    background:radial-gradient(white,transparent, transparent);
    /* border:1px solid blue; */
}

.menuInitial:first-child  div > svg{
    width:100%;
    height:100%;
    position: absolute;
    margin-left: 50%;
    margin-top:50%;
    filter: drop-shadow(0 0px 2px black);
    animation: spin 6s cubic-bezier(.8, 0, .1, 1);
    animation-duration: 1s;
    transform:translate(-50%,-50%);
    transform-origin: center center;
    /* z-index:1; */
}

@keyframes spin{
    0% {
        transform: translate(-50%,-50%) rotate(0deg) rotateX(-60deg) rotateY(60deg);
        height:0%;
        width:0%;
        opacity:1;
        perspective:100px;
        transform-style: preserve-3d;
    }
    100% {
        transform:translate(-50%,-50%) rotate(360deg) rotateX(0deg) rotateY(0deg);
        height:100%;
        width:100%;
        opacity:1;
        perspective:200px;
        transform-style: preserve-3d;
    }
}

.menuCategory {
    display: block;
    height:70px;
    width:70px;
    border-radius:100%;
    position: absolute;
    cursor:pointer;
    box-sizing: border-box;
    border:2px solid white;
    transition: box-shadow 0.3s ease;
    z-index:10;
}

.menuCategory:hover{
    box-shadow: 0 0 10px black !important;
}


#menuCategoryBio{
    margin-top: 50%;
    margin-left: 50%;
    transform: translate(-253%, -55%);
    background: radial-gradient(at right, white, var(--g0), rgba(255, 217, 0, 0.5), rgba(168, 143, 0, 0.6));
    box-shadow: 2px 0 10px -5px black;
    animation: spinBall 0.3s cubic-bezier(.8, 0, .1, 2);
}

#menuCategoryPorfolio{
    margin-top: 50%;
    margin-left: 50%;
    transform: translate(45%,-225%);
    background: radial-gradient(at bottom left, white,var(--c0), rgba(100,149,237,0.5), rgba(59,103,184,0.6));
    box-shadow: -2px 2px 10px -5px black;
    animation: spinBall 0.5s cubic-bezier(.8, 0, .1, 2);
}

#menuCategoryGraphieros{
    margin-top: 50%;
    margin-left: 50%;
    transform: translate(45%,118%);
    background: radial-gradient(at top left, white, var(--t0), rgba(255,99,71,0.5), rgba(180,67,48,0.6));
    box-shadow: -2px -2px 10px -5px black;
    animation: spinBall 0.8s cubic-bezier(.8, 0, .1, 2);
}

/* BIO MENU CATEGORY*/
#menuCategoryBioDo{
    margin-top: 50%;
    margin-left: 50%;
    transform: translate(-152%, -227%);
    background: radial-gradient(at right, white, var(--g0), rgba(255, 217, 0, 0.5), rgba(168, 143, 0, 0.6));
    box-shadow: 2px 0 10px -5px black;
    animation: spinBall 0.3s cubic-bezier(.8, 0, .1, 2);
}

#menuCategoryBioParcours{
    margin-top: 50%;
    margin-left: 50%;
    transform: translate(144%, -55%);
    background: radial-gradient(at right, white, var(--g0), rgba(255, 217, 0, 0.5), rgba(168, 143, 0, 0.6));
    box-shadow: 2px 0 10px -5px black;
    animation: spinBall 0.3s cubic-bezier(.8, 0, .1, 2);
}

#menuCategoryBioOutil{
    margin-top: 50%;
    margin-left: 50%;
    transform: translate(-152%, 117%);
    background: radial-gradient(at right, white, var(--g0), rgba(255, 217, 0, 0.5), rgba(168, 143, 0, 0.6));
    box-shadow: 2px 0 10px -5px black;
    animation: spinBall 0.3s cubic-bezier(.8, 0, .1, 2);
}

/* PORFOLIO MENU CATEGORY */
#menuCategoryPortfolioWeb{
    margin-top: 50%;
    margin-left: 50%;
    transform: translate(-152%, -227%);
    background: radial-gradient(at bottom left, white,var(--c0), rgba(100,149,237,0.5), rgba(59,103,184,0.6));
    box-shadow: 2px 0 10px -5px black;
    animation: spinBall 0.3s cubic-bezier(.8, 0, .1, 2);
}

#menuCategoryPortfolioPeinture{
    margin-top: 50%;
    margin-left: 50%;
    transform: translate(144%, -55%);
    background: radial-gradient(at bottom left, white,var(--c0), rgba(100,149,237,0.5), rgba(59,103,184,0.6));
    box-shadow: 2px 0 10px -5px black;
    animation: spinBall 0.3s cubic-bezier(.8, 0, .1, 2);
}

#menuCategoryPortfolioTexte{
    margin-top: 50%;
    margin-left: 50%;
    transform: translate(-152%, 117%);
    background: radial-gradient(at bottom left, white,var(--c0), rgba(100,149,237,0.5), rgba(59,103,184,0.6));
    box-shadow: 2px 0 10px -5px black;
    animation: spinBall 0.3s cubic-bezier(.8, 0, .1, 2);
}

/* GRAPHIEROS MENU CATEGORY */
#menuCategoryGraphierosCle{
    margin-top: 50%;
    margin-left: 50%;
    transform: translate(-152%, -227%);
    background: radial-gradient(at top left, white, var(--t0), rgba(255,99,71,0.5), rgba(180,67,48,0.6));
    box-shadow: 2px 0 10px -5px black;
    animation: spinBall 0.3s cubic-bezier(.8, 0, .1, 2);
}

#menuCategoryGraphierosLexique{
    margin-top: 50%;
    margin-left: 50%;
    transform: translate(45%, -227%);
    background: radial-gradient(at top left, white, var(--t0), rgba(255,99,71,0.5), rgba(180,67,48,0.6));
    box-shadow: 2px 0 10px -5px black;
    animation: spinBall 0.3s cubic-bezier(.8, 0, .1, 2);
}

#menuCategoryGraphierosEditeur{
    margin-top: 50%;
    margin-left: 50%;
    transform: translate(-152%, 117%);
    background: radial-gradient(at top left, white, var(--t0), rgba(255,99,71,0.5), rgba(180,67,48,0.6));
    box-shadow: 2px 0 10px -5px black;
    animation: spinBall 0.3s cubic-bezier(.8, 0, .1, 2);
}

#menuCategoryGraphierosTexte{
    margin-top: 50%;
    margin-left: 50%;
    transform: translate(45%, 117%);
    background: radial-gradient(at top left, white, var(--t0), rgba(255,99,71,0.5), rgba(180,67,48,0.6));
    box-shadow: 2px 0 10px -5px black;
    animation: spinBall 0.3s cubic-bezier(.8, 0, .1, 2);
}

/* transition states of clicked menus */

.hidden{
    display:none;
    cursor: default;
    z-index:-1;
}

.visible{
    display:initial;
    cursor: pointer;
}

.menuClicked{
    bottom:0;
}

.bioStandby,
.portfolioStandby,
.graphierosStandby{
    bottom:85px;
}

.menuClicked,
.bioStandby,
.portfolioStandby,
.graphierosStandby{
    display: block;
    position: fixed;
    right:0;
    height: 100px;
    width:100px;
    background:transparent;
    cursor:pointer;
    border-radius:100%;
}

.menuClicked:first-child  div > svg{
    width:100%;
    height:100%;
    position: absolute;
    right:0;
    filter: drop-shadow(0 0px 1px black);
    animation-duration: 2s;
    transform-origin: center center;
    animation: toMiniMenu;
    animation-duration: 0.3s;
}


.bioStandby div > svg {
    height:100px;
    width:100px;
    bottom: 200px;
    filter: drop-shadow(0 0px 1px rgb(63, 54, 29)) !important;
    animation-duration: 2s;
    transform-origin: center center;
    animation: toMiniMenuReverse;
    animation-duration: 0.3s;
}

.portfolioStandby div > svg {
    height:100px;
    width:100px;
    bottom: 200px;
    filter: drop-shadow(0 0px 1px rgb(29, 34, 63)) !important;
    animation-duration: 2s;
    transform-origin: center center;
    animation: toMiniMenuReverse;
    animation-duration: 0.3s;
}

.graphierosStandby div > svg {
    height:100px;
    width:100px;
    bottom: 200px;
    filter: drop-shadow(0 0px 1px rgb(63, 40, 29)) !important;
    animation-duration: 2s;
    transform-origin: center center;
    animation: toMiniMenuReverse;
    animation-duration: 0.3s;
}

/* ME */

.meLanding {
    font-family: 'Megrim', cursive;
    width: 100%;
    text-align: center;
    display: block;
    position: fixed;
    bottom: 38px;
    font-size: 1em;
    color: rgb(100,100,100);
    animation: bye 1s;
}


@keyframes bye {
    0%{
        opacity: 0;
        /* font-size: 0.9em; */
        text-shadow: 0 0px 20px black;
    }
    100%{
        opacity:1;
        /* font-size:1em; */
        text-shadow:  none;
    }
}

.meLanding span {
    font-weight: bold;
    font-size: 2em;
}

.meLeaving{
    font-family: 'Megrim', cursive;
    width:200px;
    text-align: center;
    display: block;
    position: fixed;
    bottom: 40px;
    right:25px;
    font-size: 0.6em;
    color: rgb(100,100,100);
    animation: hey 0.3s;
}

@keyframes hey {
    0%{
        opacity: 0;
        transform: rotate(0deg);
        width: 100%;
        text-align: center;
        display: block;
    }
    100%{
        opacity:1;
        transform: rotate(360deg);
        width:200px;
        text-align: center;
        display: block;
    }
}

.meLeaving span {
    font-weight: bold;
    font-size: 2em;
}

.meLeaving #spanA{
    color: var(--g);
}

.meLeaving #spanL{
    color: var(--t);
}

.meLeaving #spanP{
    color: var(--c);
}

@keyframes toMiniMenu {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes toMiniMenuReverse {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}

.menuClicked .menuCategory,
.bioStandby .menuCategory,
.portfolioStandby .menuCategory,
.graphierosStandby .menuCategory{
    display: none;
}

/* hack to compensate my inability to manage states*/
#resetMenu,
.bioStandbyOn,
.portfolioStandbyOn,
.graphierosStandbyOn {
    display: block;
    z-Index:200;
    position: fixed;
    bottom: 0;
    right: 0;
    height:100px;
    width:100px;
    background: transparent;
    border-radius:100%;
    cursor: pointer;
}

#resetMenu{
    bottom: 0;
}

.bioStandbyOn,
.portfolioStandbyOn,
.graphierosStandbyOn{
    bottom: 86px;
}


@keyframes spinBall {
    0%{
        height:0px;
        width:0px;
    }

    100%{
        height:70px;
        width:70px;
    }
}

@media screen and (max-width: 415px) {
    .menuInitial,
    .bioOn,
    .portfolioOn{
        height: 300px;
        width:300px;
        transform: translate(-50%,-50%);
    }

    #menuCategoryPortfolioWeb,
    #menuCategoryBioDo
    {
        transform: translate(-127%, -184%);
    }
    #menuCategoryPortfolioPeinture,
    #menuCategoryBioParcours{
        transform: translate(95%, -55%);
    }
    #menuCategoryPortfolioTexte,
    #menuCategoryBioOutil{
        transform: translate(-127%, 75%);
    }

    #menuCategoryGraphierosCle{
        transform: translate(-127%, -182%);
    }
    #menuCategoryGraphierosLexique{
        transform: translate(23%, -182%);
    }
    #menuCategoryGraphierosEditeur{
        transform: translate(-127%, 75%);
    }
    #menuCategoryGraphierosTexte{
        transform: translate(23%, 75%);
    }

    #menuCategoryBio{
        transform: translate(-200%, -55%);
    }
    #menuCategoryPorfolio{
        transform: translate(23%,-182%);
    }
    #menuCategoryGraphieros{
        transform: translate(23%,75%);
    }
}

@media screen and (max-width: 320px) {
    .menuInitial,
    .bioOn,
    .portfolioOn,
    .graphierosOn{
        height: 260px;
        width:260px;
    }

    #menuCategoryPortfolioWeb,
    #menuCategoryBioDo{
        transform: translate(-116%, -166%);
    }
    #menuCategoryPortfolioPeinture,
    #menuCategoryBioParcours{
        transform: translate(75%, -55%);
    }
    #menuCategoryPortfolioTexte,
    #menuCategoryBioOutil{
        transform: translate(-116%, 58%);
    }

    #menuCategoryGraphierosCle{
        transform: translate(-116%, -166%);
    }
    #menuCategoryGraphierosLexique{
        transform: translate(14%, -166%);
    }
    #menuCategoryGraphierosEditeur{
        transform: translate(-116%, 58%);
    }
    #menuCategoryGraphierosTexte{
        transform: translate(14%, 58%);
    }

    #menuCategoryBio{
        transform: translate(-180%, -55%);
    }
    #menuCategoryPorfolio{
        transform: translate(14%,-166%);
    }
    #menuCategoryGraphieros{
        transform: translate(14%,58%);
    }
}