svg.alpLanding{
    position: fixed;
    height:100vh;
    top:50%;
    right:0;
    transform: translate(0%,-50%);
    stroke: var(--blue4);
    opacity:0.5;
}

svg.alpBio {
    z-index:0;
    position: fixed;
    height:90vh;
    left:50%;
    transform: translateX(-50%);
    stroke: var(--blue3);
    opacity:0.5;
}

@media (max-width:600px) {
    svg.alpLanding{
        left:50%;
        transform: translate(-50%,-50%);
    }
}
