.svgInputWrapper{
    display: grid;
    position: fixed;
    align-content:center;
    justify-items:center;
    margin:0 auto;
    left:50%;
    transform: translateX(-50%);
    margin-top:150px;
    height:250px;
    width:200px;
    background: linear-gradient(to top, white, rgba(255, 255, 255, 0.5));
    border-radius:3px;
    box-shadow: 0 5px 10px -5px rgba(29,55,104,0.75);
    animation: svgInputWrapper 0.5s ease-in;
    z-index:10;
}

@keyframes svgInputWrapper {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

svg.svgInput{
    display: block;
    position: absolute;
    margin-top:40px;
    left:50%;
    transform: translateX(-50%);
    height:150px;
    width:150px;
    background: white;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill:none;
    stroke-width:10px;
    stroke: var(--blue0);
    border-radius:3px;
    box-shadow: 0 5px 10px -5px rgba(29,55,104,0.75);
}

circle.circleInput{
    transition: r 0.3s ease, fill 0.3s ease;
    fill: var(--blue0);
    stroke: none;
    cursor: pointer;
    opacity:0.35;
}

circle.circleInput:hover{
    r: 20px;
    fill: tomato;
    stroke: none;
}

.btnControls{
    position: absolute;
    margin-top:200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    width:150px;
}

button.btnCUT,
button.btnRESET{
    width:100%;
    height:30px;
    font-family: 'Roboto', cursive;
    border:none;
    border-radius:2px;
    box-shadow: 0 5px 10px -5px rgba(29,55,104,0.75);
    opacity: 0.75;
    transition: opacity 0.3s ease;
    font-weight:bold;
    cursor: pointer;
}

button.btnCUT:hover,
button.btnRESET:hover {
    opacity:1;
}

button.btnCUT{
    background: radial-gradient(at top, var(--blue2), var(--blue0));
    color: var(--blue4);
    text-shadow: 0 1px 1px var(--blue0);
}

button.btnRESET{
    background: radial-gradient(at top, var(--blue4), tomato);
    color: var(--blue0);
}

.result {
    position: absolute;
    bottom:-25px;
    width:150px;
    text-align:left;
}

.result p {
    font-family: 'Roboto', cursive;
    color: var(--blue0);
}

span.spanConcept {
    font-weight:bold;
}

span.spanPhono {
    color: tomato;
    font-weight: bold;
}

.miniSvgResult {
    height: 50px;
    width:50px;
    margin-left:50%;
    transform: translateX(-50%);
    border-radius:100%;
    background: white;
    box-shadow: 0px 0px 10px -1px rgba(29,55,104,0.75);
}

.miniSvgResult svg {
    height:50px !important;
    width:50px !important;
}

.optionDisplay {
    position: fixed;
    display: grid;
    row-gap: 10px;
    align-items:center;
    justify-items:center;
    grid-template-columns: repeat(3,1fr);
    top:250px;
    width:200px;
    left:50%;
    transform:translateX(-50%);
    background: radial-gradient(at top, var(--blue2), var(--blue0));
    overflow: scroll;
    max-height:200px;
    border-radius:3px;
    box-shadow: 0 5px 10px -5px rgba(29,55,104,0.75);
    box-sizing: border-box;
    padding-bottom:100px;
    animation: optionDisplay 0.2s ease-in;

}

@keyframes optionDisplay {
    0%{
        opacity: 0;
        transform: translateX(-50%) scale(0,1);
    }
    100%{
        opacity:1;
    }
}

.optionDisplay::-webkit-scrollbar{
    width:5px;
    height:0px;
    background: var(--blue3);
    box-shadow: -2px -2px 5px black;
}

.optionDisplay::-webkit-scrollbar-thumb{
    background: radial-gradient(rgb(255, 163, 147), tomato);
    border-radius:2px;
    box-shadow: 0 2px 2px black;
}

.optionDisplay div {
    display: grid;
    align-items:center;
    justify-items:center;
}

.svgRes svg {
    height: 30px !important;
    width:30px !important;
    transition: scale 0.5s ease-in-out;
    border-radius:2px;
}

.svgRes svg:hover {
    background: var(--blue3) !important;
    stroke: rgb(29,55,104) !important;
    transform: scale(1.2,1.2);
}

.optionDisplay span {
    font-size:0.6em;
    width:100%;
    text-align:center;
    color: var(--blue4);
    text-shadow: 0 0.7px 0.7px rgb(29,55,104);
}

span.spanPhonoOpt {
    color: rgb(255, 167, 152);
}

p.svgInputTitle{
    position: absolute;
    margin-top:5px;
    font-size:0.7em;
    width:75%;
    color: var(--blue0);
}

@media (max-width: 320px) {
    .svgInputWrapper{
        margin-top: 110px;
        left: 120px;
    }
    .optionDisplay{
        top:250px;
        max-height:180px;
        margin-left:0px;
    }
    @keyframes optionDisplay {
        0%{
            opacity: 0;
            height:100px;
            width:100px;
        }
        100%{
            opacity:1;
        }
    }
}