.landingVisible{
    display: block;
    position: fixed;
    height:100vh;
    width:100vw;
    /* background: radial-gradient(at top, var(--blue4), var(--blue3), var(--blue2), var(--blue1),var(--blue0)); */
    z-index:100;
    opacity:1;
    background: radial-gradient(at top, white, tomato);
    perspective: 400px;
}

p.quote{
    margin-top:250px;
    width:100%;
    text-align:center;
    font-style: italic;
    font-weight:bold;
    color: var(--blue4);
    text-shadow: 0 1px 1px var(--blue0);
    font-family: 'Roboto', cursive;
    animation: quote 3s ease-in-out;
}

.landingFractal{
    display:block;
    position: fixed;
    width:200px;
    height:200px;
    border-radius:50px;
    left:50%;
    top:50%;
    transform: translate(-50%,-0%);
    border-bottom:3px solid rgba(255,255,255,0.5);
    cursor:pointer;
    animation: landingFractalAppear 3s ease-in-out;
    transform-style: preserve-3d;
}

.landingFractal:hover svg{
    animation: landing 0.5s ease-in-out;
}

.backLanding{
    display:block;
    position: fixed;
    height:100vh;
    width:100vw;
    top:-4px;
    z-index:-1;
    animation: backLanding 2s ease-in-out;
}

.landingName{
    font-family: 'Megrim', cursive;
    color: white;
    position: fixed;
    display:block;
    top:50%;
    left:50%;
    width:100%;
    text-align:center;
    transform: translate(-50%,800%);
    text-shadow: 0 1px 1px var(--blue0);
}

.landingName > span {
    font-size:1.5em;
    font-weight: bold;
}


@keyframes landing{
    0%{
        transform: rotate(-6deg);
    }
    33%{
        transform: rotate(5deg);
    }
    66%{
        transform: rotate(-4deg);
    }
    88%{
        transform: rotate(3deg);
    }
    95%{
        transform: rotate(-2deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

@keyframes landingFractalAppear{
    0%{
        opacity:0;
        transform:translate(-50%,-50%) rotateX(90deg);
    }
    100%{
        opacity:1;
        transform:translate(-50%,-0%)  rotateX(0deg);
    }
}

@keyframes quote {
    0%{
        opacity:0;
        margin-top:270px;
    }
    100%{
        opacity:1;
        marfin-top:250px;
    }
}

@keyframes backLanding{
    0%{
        opacity:0.5;
    }
    100%{
        opacity:1;
    }
}