html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

html {
    background: radial-gradient(at top, rgb(18,43,18), black);
} 

 

:root{
    --green: rgb(78, 122, 52);
    --FT: 'Poiret One', cursive;
} 

header{ 

    display: grid;
    align-items:center;
    justify-items:center;
    position: fixed;
    top: 0;
    left:0;
    width:100vw;
    background: black;
    border-bottom: 1px solid rgb(18,43,28);
    line-height:50px;
    border-radius:0 0 100% 100%;
    height:50px;
    margin: 0 auto;
    text-align:center;
    font-family: var(--FT);
    color:rgb(88, 88, 88);
    box-sizing: border-box;
    font-size:1.3em;
    font-weight:bold;
    padding-bottom: 50px;
    z-index:100;

}

 

span.a{
    color: var(--green);
}
span.b{
    color: cornflowerblue;
}
span.c{
    color: tomato;
}
span.d{
    color: gold;
}

span.a,
span.b,
span.c,
span.d{
    font-weight:bold;
} 

#svg_title{
    width:50%;
    max-width:400px;
    margin: 0 auto;
    margin-bottom:20px;
    margin-top:100px;
    background: black;
    border-top:1px solid rgb(78, 122, 52);
    border-radius:100%;
}
 
.global_wrapper{
    width:100%;
    display: grid;
    justify-items: center;
}

/*all that is below needs to be included in graphieros.js*/

.main{
    box-sizing: border-box;
    margin:0 auto;
    width:100%;
    border-bottom: 1px solid rgb(28, 43, 28);
    padding-top:20px;
    padding-bottom:20px;
}

.graphieros_text{
    color: transparent;
    box-sizing: border-box;
}

.molecules {
    display: grid; 
    grid-template-columns: repeat(3,1fr);
    align-items:center;
    justify-items:center;
}

#linear_0208 {
    background: white;
    border-radius:3px;
    border:10px solid white;
}

#linear_0208_1{
    border:10px solid transparent;
}

@media screen and (max-width: 500px) {

    .global_wrapper {
        display: block;
    }

    .global_wrapper > div,
    .global_wrapper > svg,
    #eight0 {
        margin-left:50%;
        transform: translate(-50%);
    }

    #mol0,
    #mol1 {
        width:100%;
        display: grid;
        justify-items: center;;
    }

}